.index_logo_1_1{ height: 70px; overflow: hidden; position: relative; width: 100%;}
.index_logo_1_1 span {display: block;} 

#MasterWidget1264 { font-size:1em;line-height:1.25em; padding-left:3px;padding-right:3px;}

#MasterWidget7264 .w_t_style{ font-size:1em;line-height:1.25em;}
#MasterWidget7264 .w_c_style{ font-size:0.875em;line-height:1.125em;}.index_banner_blue{ background:url(blue_in_png.png) repeat-x 0 -70px;}
.right_arrow_blue {z-index:2; position:absolute; right:0; top:5px; width: 20px; height:28px; box-shadow: -1px 0 #268ed5; cursor: pointer; border-left: 1px solid #1b3041; background:url(/images/bule_arrow.png) no-repeat center -43px;}
.left_arrow_blue {z-index:2; position:absolute; left:0; top:5px; width: 20px; height:28px; box-shadow: 1px 0 #268ed5; cursor: pointer; border-right: 1px solid #1b3041; background:url(/images/bule_arrow.png) no-repeat center -5px;}

.index_banner {position: relative;height:38px;}
.index_banner ul{ height:38px; line-height:38px;overflow:hidden;}
.index_banner ul li{ text-align:center;float:left;margin-left:5px;}
.index_banner ul li a{ color:#fff;display:block;padding:0 10px;font-size:1em; height:28px; line-height:28px; margin-top:5px;}
.index_banner ul li a:hover{ font-size:1em; -webkit-border-radius:5px; background-color:#fff; color:#00a8e1;}
.index_banner ul li a .ourhover{ font-size:1em; -webkit-border-radius:5px; background-color:#fff; color:#00a8e1;}
.index_banner ul .text_a{ height:25px; -webkit-border-radius:5px; background-color:#fff; color:#00a8e1;}



#ContactUS
{
width:90%;
margin-left:10px;
}



#slider_nav7264
{
height:100%;
float:left;
padding:0;
}
#wrapper_nav7264 {
position:absolute; 
z-index:1;
width:100%;
overflow:hidden;
}.index_main{ color:#666;}.swipe{position: relative;z-index: 1;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;}
a .ui-link{ margin:0px;}
.in-slider-status{ height: 12px;list-style: none;margin: 0;padding-top: 3px;overflow: hidden;right: 15px;bottom: 10px;position: absolute;z-index: 9;}
.in-slider-status span{ display: block;width: 8px;height: 8px;border-radius: 4px;float: left;background: rgba(255,255,255,.8);margin: 0 3px;}
.in-slider-status .sel{ background: #000;width: 10px;height: 10px;border-radius: 5px;margin: -1px 3px;}
.bottom {z-index: 0;position: absolute;color: #FFF;text-align: left;text-indent: 5px;bottom:0px;;padding: 0;height: 30px;line-height: 30px;display: block;width: 100%;background: rgba(0,0,0,0.3);background-color: #000 9;filter: alpha(opacity=80) 9;}.shxx_banner{ background-color:#e8e8e8;overflow:hidden; line-height:40px;}
.shxx_banner li{ float:left; width:25%; text-align:center; position:relative;}
.shxx_banner li i{ position:absolute; height:30px; width:1px; background-color:#cfcfcf; right:0; top:5px; overflow:hidden;}
.shxx_banner li a{ display:block;color:#000;} #Widget59205 .w_t_style{ font-size:1em;line-height:1.25em;} #Widget59205 .w_c_style{ font-size:0.875em;line-height:1.125em;}
.listPage {float: left; width: 100%; margin-top: 20px; margin-bottom: 10px; text-align: center;}
.listPage .prolistpager_3 {width: 100%; padding-top: 6px;}
.listPage .prolistpager_3 .page-pre {font-size: 14px; line-height: 20px; padding: 5px; border-radius: 3px; border: 1px solid #bbb;}
.listPage .prolistpager_3 .page-pre:hover {background: #ddd;}
.listPage .prolistpager_3 .page-pre a {line-height: 20px; color: #666;}
.listPage .prolistpager_3 .page-pre a:hover {color: #333;}
.listPage .prolistpager_3 .page-num {font-size: 14px; line-height: 20px; margin-left:10px; padding: 5px 8px; border-radius: 3px; border: 1px solid #bbb;}
.listPage .prolistpager_3 .page-num-Current {font-size: 14px; line-height: 20px; margin-left:10px; padding: 5px 8px; border-radius: 3px; border: 1px solid #bbb; color:#FF0000;}
.listPage .prolistpager_3 .page-num:hover {background: #ddd;}
.listPage .prolistpager_3 .page-more {display:none;}
.listPage .prolistpager_3 a .page-num  {line-height: 20px; color: #666;}
.listPage .prolistpager_3 a:hover .page-num  {color: #333;}
.listPage .prolistpager_3 .page-cur .page-num {border: 1px solid #666; background: #999; color: #fff;}
.listPage .prolistpager_3 .page-next {font-size: 14px; line-height: 20px; padding: 5px; border-radius: 3px; border: 1px solid #ccc;}
.listPage .prolistpager_3 .page-next a:link {color: #666;}
.listPage .prolistpager_3 .page-next a:visited {color: #666;}
.listPage .prolistpager_3 .page-next:hover {background: #ddd;}
.listPage .prolistpager_3 .page-next a:active {color: #666;}
.listPage .prolistpager_3 .page-disabled {color: #999;}
.listPage .prolistpager_3 .page-disabled:hover {background: none;}.downlist{position: relative;}
.category{background-color: #444; padding: 5px 0 5px 20px; overflow: hidden; margin-top:9px;}
.downlist b{position: absolute; left: 110px; top: -10px; width: 0; height: 0; border-width: 5px 5px; border-style: solid; border-color: transparent transparent #444; font-size: 0; line-height: 0;}
.category li { line-height: 30px; width:75px; padding-right: 4px; margin-right:5px; overflow: hidden; float: left; }
.category li a.cur { color: #dc442f; }
.category li a.cur:link { color: #dc442f; }
.category li a {color: #fff; font-size: 14px; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-align: justify; text-justify: inter-ideograph; font-weight:normal;}
.category li a:link{ color:#fff;font-weight:normal;}
.consb{ }
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal}
img{border:0;vertical-align:bottom}img a{border:0;text-decoration:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;color:#666}
ul:after{content:'.';display:block;clear:both;height:0;visibility:hidden}
.consb{background:#e8e8e8;font-family:Helvetica,san-serif;line-height:0.5em;font-size:1em;margin:0;padding:0;color:#666;-webkit-user-select:none;-moz-user-select:none;user-select:none;-webkit-text-size-adjust:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0.50)}
#mbSubTitle{padding:8px 8px 0}
.subTitleBox{position:relative;height:20px;color:#666;padding:8px;background:#fff;-webkit-border-radius:5px;-webkit-box-shadow:0 2px 3px #999;text-align:center}
.subTitleBox .backBtn{display:block;width:20px;height:20px;position:absolute;top:8px;left:8px;background:url(/widgets/ProductList/images/back.png?p_v=1.0.0.20) no-repeat;background-size:20px 20px}
.subTitleBox .homeBtn{display:block;width:20px;height:20px;position:absolute;top:8px;right:8px;background:url(/widgets/ProductList/images/home.png?p_v=1.0.0.20) no-repeat;background-size:20px 20px}
#mbMain{padding:8px}
.modTop{margin-top:8px}
.modBd .modList li{width:50%;float:left;text-align:center;padding:5px;-webkit-box-sizing:border-box}
.modBd .modList .productImg{border:2px solid #e8e8e8;margin-bottom:5px;position:relative}
.modBd .modList .productName{height:36px; line-height: 36px; overflow: hidden;}
.modBd .modList .productImg img{width:100%;border:0}
.modBd .modList .productPrice em{list-style:none;color:#ed1b23;line-height:25px;white-space:nowrap;}


.mod_Histoty_Bd .modList li{width:100%;text-align:center;padding:5px;-webkit-box-sizing:border-box;}
.mod_Histoty_Bd .modList .product_Line{vertical-align:middle;  height:55px;line-height:55px;  border:2px solid #e8e8e8;margin-bottom:5px;position:relative;}
.mod_Histoty_Bd .modList .product_Line .productImg{ margin-left:10px;margin-top:1px; float:left; border:1px solid #e8e8e8;margin-bottom:5px;position:relative}
.mod_Histoty_Bd .modList .product_Line .productName{padding-right:20px; margin-top:10px; float :right;height:36px; line-height: 36px; }
.mod_Histoty_Bd .modList .product_Line .productImg img{border:0}
.mod_Histoty_Bd .modList .product_Line .productPrice{float:right;margin-top:16px; padding-right:40px;padding-right:10px;}
.mod_Histoty_Bd .modList .product_Line .productPrice em{list-style:none;color:#ed1b23;line-height:25px;white-space:nowrap;}



.productMod{background:#fff;-webkit-border-radius:5px;-webkit-box-shadow:0 1px 3px #999;padding:8px}
.listPage{position:relative;height:25px;padding:10px 0 0 0;text-align:center}
.listPage .prev{display:block;width:80px;height:25px;border:1px solid #cdcdcd;position:absolute;top:5px;left:0;line-height:24px;background:-webkit-gradient(linear,0 0,0 100%,from(whiteSmoke),to(#e6e6e6));-webkit-box-sizing:border-box;-webkit-box-shadow:0 1px 0 #a8a8a8;-webkit-border-radius:2px}
.listPage .next{display:block;width:80px;height:25px;border:1px solid #cdcdcd;position:absolute;top:5px;right:0;line-height:24px;background:-webkit-gradient(linear,0 0,0 100%,from(whiteSmoke),to(#e6e6e6));-webkit-box-sizing:border-box;-webkit-box-shadow:0 1px 0 #a8a8a8;-webkit-border-radius:2px}
.listTab .modTab li{width:50%;float:left;height:30px;text-align:center}
.listTab .modTab li a{display:block;padding:5px 0 0 0;background:#666;height:25px;color:#fff}
.listTab .modTableShow{background:#fff;-webkit-border-radius:0 0 5px 5px;padding:8px;-webkit-box-shadow:0 2px 3px #999;background:-webkit-gradient(linear,0 0,0 100%,from(whiteSmoke),to(#e6e6e6))}
.listTab .modSubTab li{float:left;width:33.3%}
.listTab .modSubTab li a{display:block;padding:3px 0 0 0;height:22px;text-align:center;background:-webkit-gradient(linear,0 0,0 100%,from(whiteSmoke),to(#e6e6e6));border:1px solid #bdbdbd;border-right:0;-webkit-box-shadow:0 1px 0 #a8a8a8}
.listTab .modSubTab li .current{background:-webkit-gradient(linear,0 0,0 100%,from(#d5161d),to(#c6070e));color:#fff;border:1px solid #9d0000}
.listTab .modTab li:first-child a{-webkit-border-radius:5px 0 0 0}
.listTab .modTab li:last-child a{-webkit-border-radius:0 5px 0 0} 
.about_title_blue{ position:relative; background:url(blue_in_png.png) repeat-x 0 -108px; height:34px; line-height:34px;   border-bottom:1px solid #cfcfcf;font-size:1em; width:100%; color:#000; font-weight:bold;} .about_title_blue span{ margin-left:15px;} .Widget59207 .about_title, .Widget59207 .about_title a{font-size:1em; color:;} #Widget59207 .w_t_style{ font-size:1em;line-height:1.25em;} #Widget59207 .w_c_style{ font-size:0.875em;line-height:1.125em;}.d_info_text{ background-color:#f2f2f2; height:40px; line-height:40px; padding-left:20px; border-top:#e7e7e7 solid 1px; border-bottom:#e7e7e7 solid 1px;}
.d_info_ny{ margin:15px 20px; font-size:0.8em;}
.d_info_ny { color: #333; font-family: Helvetica,'STHeiti STXihei','Microsoft JhengHei','Microsoft YaHei',Tohoma,Arial;}
.d_info_ny li{ line-height:2.2em;}
.d_info_ny li label{ display:inline-block; width:70px; text-align:right;}
.d_info_ny a:link {color:#333; text-decoration:none;}
.d_info_ny a:visited {color:#333; text-decoration:none;}
.d_info_ny a:hover {color:#666; text-decoration:none;}
.d_info_ny a:active {color:#333; text-decoration:none;}
body{ margin:0 auto; padding:0;background:#f9f9f9;}
a,p,ul,li{ text-decoration:none; margin:0; padding:0; list-style-type:none;}
img{ border:none;}
.con{ min-width:320px;width:100%;max-width:640px; margin: 0 auto;float:left;}
.wap{ min-width:320px;width:100%;max-width:640px; margin: 0 auto;min-height:400px;}
.index_top{ position:relative; background:url(/images/in_png.png) repeat-x 0 -130px; height:34px; line-height:34px;   border-bottom:1px solid #cfcfcf;font-size:16px; width:100%; color:#3e3e3e; font-weight:bold;}
.index_top span{ margin-left:15px;}
.quit_top{ background:url(/images/quit_inco.png) no-repeat; height:35px; width:38px; display:inline-block; float:right;margin-right:9px;}
.ll_top{ background:url(/images/ll_inco.png) no-repeat; height:35px; width:30px; display:inline-block;  margin-right:9px;}
.sj_top{ background:url(/images/sj_inco.png) no-repeat; height:35px; width:40px; display:inline-block;float:right; margin-right:9px;}
.sj_out{ background:url(/images/sy_inco.PNG) no-repeat; height:35px; width:40px; display:inline-block; float:right;margin-right:4px;}
.out_top{ background:url(/images/out_bj.jpg) repeat-x; height:35px; min-width:320px;width:100%;max-width:640px;}
.home_top{ background:url(/images/in_fz.PNG) no-repeat; height:35px; width:38px; display:inline-block; float:right;margin-right:9px;}
.xh_left_container {z-index: 99999; position: fixed; max-width: 192px; min-height: 96px;  height: 100%; top: 0; background: #f2f2f2; box-shadow: 2px 0 2px #ccc; overflow: hidden; display: block}
.xh_left_container .home_btn {position: absolute; top: 0; left: 50%; margin-left: -40px; width: 80px; height: 80px; display: block;}
.xh_left_container .home_btn p{padding:0px;margin:0px;width:100%;}
.xh_left_container .home_btn img {max-width: 80px; max-height: 80px;}
.xh_left_container .return_btn {position: absolute; bottom: 10px; left: 50%; margin-left: -40px; width: 80px; height: 80px; display: block;}
.xh_left_container .return_btn img {max-width: 80px; max-height: 80px;}
.xh_right_content{margin:6px;}
.xh_right_container {z-index: 99999; position: fixed; max-width: 192px; min-height: 96px; height: 100%; right:0 ; top: 0; background: #f2f2f2; box-shadow: 2px 0 2px #ccc; overflow: hidden; display: block}
.xh_right_container .home_btn {position: absolute; top: 0; left: 50%; margin-left: -40px; width: 80px; height: 80px; display: block;}
.xh_right_container .home_btn img {max-width: 80px; max-height: 80px;}
.xh_right_container .return_btn {position: absolute; bottom: 10px; left: 50%; margin-left: -40px; width: 80px; height: 80px; display: block;}
.xh_right_container .return_btn img {max-width: 80px; max-height: 80px;}
.xh_top_container {z-index: 99999;max-width:640px;min-width:320px; position: fixed; width: 100%; top: 0;  box-shadow: 0 2px 2px #ccc; overflow: hidden; display: block}
.xh_foot_container {z-index: 99999;max-width:640px;min-width:320px; position: fixed; width: 100%; bottom: 0; box-shadow: 2px 0px 2px #ccc; overflow: hidden; display: block}

.xh_left_bottom_container {z-index: 99999; position: fixed; bottom: 10px;   overflow: hidden; display: block}
.xh_right_bottom_container {z-index: 99999; position: fixed; bottom: 10px;  overflow: hidden; display: block}
.xhAudiobox{display:none;}

.bd_t_forward {z-index: 9999998; top:0; left:0;width:100%; height:100%;position:fixed; background:#000; opacity:0.5; display: none;}
.t_forward {z-index: 9999999; position: fixed; width: 291px;height: 237px;top: 0;right: 0;background: url() no-repeat; display: none;}
.t_forward .yd_line1 {width: 85px; height: 85px; border: 3px solid #eeca00; margin: 44px 0 0 48px; background: rgba(255,255,255,.2); display: inline-block; overflow: hidden;}
.t_forward .yd_line2 {width: 85px; height: 85px; border: 3px solid #eeca00; margin: 44px 0 0 155px; background: rgba(255,255,255,.2); display: inline-block; overflow: hidden;}
.t_forward .yd_line3 {width: 85px; height: 85px; border: 3px solid #eeca00; margin: 134px 0 0 49px; background: rgba(255,255,255,.2); display: inline-block; overflow: hidden;}
.t_forward .yd_line4 {width: 85px; height: 85px; border: 3px solid #eeca00; margin: 134px 0 0 155px; background: rgba(255,255,255,.2); display: inline-block; overflow: hidden;}



.mymiddle{vertical-align:middle;width:120px;text-align:center;}

.ajax_tab_menu .ajax__tab_header /*整体按钮底样式*/
{font-family:宋体;height:30px;font-size:20px;background:url("../skin/images/Tab_Option_bg.gif") repeat-x bottom;}

.ajax_tab_menu .ajax__tab_body /*资料区*/
{font-family:宋体;font-size:20px;border:0px solid #999999;border-top:0;background-color:#ffffff;}

.tab_menu_tit{background:#4498D2;height:30px;}
.tab_menu_tit input{ cursor:pointer;width:120px; line-height:30px;margin-right:4px;}
.ajax_tab_menu .ajax__tab_tab /*预设样式*/
{border:none;background:#4498D2;text-align:center;margin:0;color:#fff;}
.ajax_tab_menu .ajax__tab_hover .ajax__tab_tab /*鼠标经过样式*/
{background:url("../skin/images/main_t_bg.jpg") repeat-x;width:200px;height:30px;color:#333;text-align:center;}

.ajax_tab_menu .ajax__tab_active /*当前使用中样式*/
{background:url("../skin/images/main_t_bg.jpg") repeat-x;width:120px;height:30px;text-align:center;color:#333;}

table.altrowstable {font-family: verdana,arial,sans-serif;font-size:11px;color:#333333;border-width: 1px;border-color: #fff;border-collapse: collapse;}
table.altrowstable th {border-width: 1px;padding: 8px;border-style: solid;border-color: #fff;}
table.altrowstable td {border-width: 1px;padding: 8px;border-style: solid;border-color: #fff;}
.oddrowcolor{background-color:#ECF5FF;}
.evenrowcolor{background-color:#c3dde0;}
.picCss{max-height: 100px;width: 100%;max-width: 350px;}	
table.mymultiTuWen_Add_LeftTable {width:100%;height:100%;} 
table.altNew_stable {font-family: verdana,arial,sans-serif;font-size:11px;color:#333333;border-width: 2px;border-color: #fff;border-collapse: collapse;}
table.altrowstable tr.CSSTableRow1 { width:400px;} 
 
