<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="WriteLogUrl" value="http://test.baoxianduoduo.com/QybCBWriteLogURL/WriteLogUrl/WriteLog" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WebAPIUrl" value="http://localhost:8039/api/" />
    <!--<add key="QybBXApiLogEveryday" value="http://test.baoxianduoduo.com/QybBXApiLogEveryday/api/" />-->
    <add key="QybBXApiLogEveryday" value="http://localhost:8039/api/" />

    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />


    <add key="Qyb_MongoDB"  value="mongodb://QYBuseOliver:zhangtingfengqinyibao.com@219.235.15.144:27017/" />
    <add key="Qyb_MongoDBDatabase"  value="001QinyibaoDB" />
  </appSettings>
  <connectionStrings>
    <!--数据库连接（Qyb_InsureApi）-->
    <add name="Qyb_InsureApi_ConnectionString_WAP" providerName="SqlServer" connectionString="Data Source=test.baoxianduoduo.com;Initial Catalog=Qyb_InsureApi;Persist Security Info=True;user id=Api100;password=!QAZ#EDC2wsx;Enlist=true;Pooling=true;Max Pool Size = 700; Min Pool Size=30; " />

    <!--<add name="Qyb_InsureApi_ConnectionString_WAP_Log" providerName="SqlServer" connectionString="server=115.159.58.176;database=Qyb_InsureApiLogs;user id=saApi100;password=!QAZCDE#2wsx;Enlist=true;Pooling=true;Min Pool Size = 0;Max Pool Size = 300;Connection Lifetime = 300;packet size=1000;" />-->

    <!--<add name="Qyb_InsureApi_ConnectionString_WAP" providerName="SqlServer" connectionString="server=t.baoxianduoduo.com;database=Qyb_InsureApi;user id=dev;password=qYb@123.com;Pooling=true;Min Pool Size = 50;Max Pool Size = 300;" />-->
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Authentication/Login" />
    </authentication>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <!--<sessionState mode="SQLServer"
                  cookieless="false"
                  timeout="20"
                  allowCustomSqlDatabase="true"
                  sqlCommandTimeout="60"
                  sqlConnectionString="data source=test.baoxianduoduo.com;initial catalog=Sys_StateServer;persist security info=True;user id=dev;password=qYb@123.com;"/>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="ChartImageHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>