<div id="navContent">
	<div class="home">
		<div class="diantong animated bounce infinite"><img src="images/diantong.png" /></div>
		<div class="txt_home1"><img src="images/txt_home1.png" /></div>
		<div class="home_btn animated shake infinite"><img src="images/home_btn.png" /></div>
		<div class="sp_box show_sp">
			<div class="sp1"><img src="images/sp1.png" /></div>
			<div class="sp2"><img src="images/sp2.png" /></div>
			<div class="sp3"><img src="images/sp3.png" /></div>
			<div class="sp4"><img src="images/sp4.png" /></div>
			<div class="sp5"><img src="images/sp5.png" /></div>
			<div class="sp6"><img src="images/sp6.png" /></div>
		</div>
	</div>
</div>