<div id="navContent">
	<div class="testContent">
		<div class="mask_loader">
			<div class="mask_gif"><img src="images/ajax-loader.gif" /></div>
			<div class="mask_txt"><img src="images/mask_loader.png" /></div>
			<div class="mask_pic"><img src="images/mask_loading.jpg" /></div>
		</div>
		<div class="kaleidoscope">
			<div class="btn_touch"></div>
			<div class="wz_flashing"><img src="images/wz_flashing.png" /></div>
			<section>
				<div class="i_btn1"><img src="images/i_btn1.png" /></div>
				<div class="setp_wz1">
					<div class="txt_i show_i"><img src="images/show_i_1.png" /></div>
					<div class="txt"><img src="images/setp_wz1.png" /></div>
				</div>
				<div class="setp_pic"><img src="images/setp_1_1.png" /></div>
				<div class="setp_box"><img src="images/setp_1.jpg" /></div>
				<div class="yuan"><img src="images/yuan.png"></div>
				<div class="xian"><img src="images/xian.png"></div>
			</section>

			<section>
				<div class="i_btn2"><img src="images/i_btn2.png" /></div>
				<div class="setp_wz2">
					<div class="txt_i show_i"><img src="images/show_i_2.png" /></div>
					<div class="txt"><img src="images/setp_wz2.png" /></div>
				</div>
				<div class="setp_pic"><img src="images/setp_2_1.png" /></div>
				<div class="setp_box"><img src="images/setp_2.jpg" /></div>
				<div class="yuan"><img src="images/yuan1.png"></div>
				<div class="xian"><img src="images/xian1.png"></div>
			</section>

			<section>
				<div class="i_btn3"><img src="images/i_btn3.png" /></div>
				<div class="setp_wz3">
					<div class="txt_i show_i"><img src="images/show_i_3.png" /></div>
					<div class="txt"><img src="images/setp_wz3.png" /></div>
				</div>
				<div class="setp_pic"><img src="images/setp_3_1.png" /></div>
				<div class="setp_box"><img src="images/setp_3.jpg" /></div>
				<div class="yuan"><img src="images/yuan2.png"></div>
				<div class="xian"><img src="images/xian2.png"></div>
			</section>

			<section>
				<div class="i_btn4"><img src="images/i_btn4.png" /></div>
				<div class="setp_wz4">
					<div class="txt_i show_i"><img src="images/show_i_4.png" /></div>
					<div class="txt"><img src="images/setp_wz4.png" /></div>
				</div>
				<div class="setp_pic"><img src="images/setp_4_1.png" /></div>
				<div class="setp_box"><img src="images/setp_4.jpg" /></div>
				<div class="yuan"><img src="images/yuan3.png"></div>
				<div class="xian"><img src="images/xian3.png"></div>
			</section>

		</div>
	</div>
</div>