<div id="navContent">
	<div class="testContent">
		<div class="black_color"></div>
		<div class="white_color"></div>

		<div class="logo"><img src="images/logo.png" /></div>
		<div id="navCanvas"></div>

		<div class="taking_box">
			<div class="wz_txt4"><img src="images/wz_txt4.png" /></div>
			<div class="btn_taking"><img src="images/btn_taking.png" /></div>
		</div>
		<div class="record_box">
			<div class="record_txt"><img src="images/di.png" class="record_di" /><span id="navTxt"></span></div>
			<div class="record_text"><img src="images/record_txt.png" /></div>
			<div class="wz_txt5"><img src="images/wz_txt5.png" /></div>
			<div class="btn_share"><div class="btn_share_txt"><img src="images/btn_share_txt.png" /></div><img src="images/btn_share.png" /></div>
		</div>
	</div>
</div>