.c-orange {
    color: #f60 !important;
}

.c-orange-dark {
    color: #f15a0c !important;
}

.c-green {
    color: #06bf04 !important;
}

.c-red {
    color: #ed5050 !important;
}

.c-pink {
    color: #ee614b !important;
}

.c-white {
    color: #fff !important;
}

.c-gray-light {
    color: #e5e5e5 !important;
}

.c-gray {
    color: #c9c9c9 !important;
}

.c-gray-dark {
    color: #999 !important;
}

.c-gray-darker {
    color: #666 !important;
}

.c-black {
    color: #333 !important;
}

.c-yellow {
    color: #f09000 !important;
}

.c-light-yellow {
    color: #fcff00 !important;
}

.c-blue {
    color: #38f !important;
}

.btn {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 4px;
    text-align: center;
    margin: 0;
    font-size: 12px;
    cursor: pointer;
    line-height: 1.5;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    color: #999;
}

    .btn-disabled, .btn[disabled] {
        background-color: #c9c9c9 !important;
        background-image: none !important;
        border: 1px solid transparent !important;
        color: #fff !important;
    }

        .btn-disabled:active, .btn[disabled]:active {
            background-color: #c9c9c9 !important;
            background-image: none !important;
            border: 1px solid #bcbcbc !important;
        }

.btn-default {
    color: #999;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.btn-blue {
    color: #fff;
    background-color: #38f;
    border-color: #38f;
}

.btn-gray-dark {
    color: #333;
    background-color: #999;
    border-color: #999;
}

.btn-green {
    color: #fff;
    background-color: #06bf04;
    border-color: #03b401;
}

.btn-red {
    color: #fff;
    background-color: #ed5050;
    border-color: #ed5050;
}

.btn-pink {
    color: #fff;
    background-color: #ee614b;
    border-color: #ee614b;
}

.btn-white {
    color: #333;
    background-color: #fff;
    border-color: #e5e5e5;
}

.btn-yellow {
    color: #fff;
    background-color: #f09000;
    border-color: #f09000;
}

.btn-grayeee {
    color: #999;
    background-color: #eee;
    border-color: 1px solid #ebebeb;
}

.btn-orange {
    color: #fff;
    border-color: #f60;
    background-color: #f60;
}

.btn-orange-dark {
    color: #fff;
    border-color: #f15a0c;
    background-color: #f15a0c;
}

.btn-block {
    text-align: center;
    width: 100%;
    padding: 11px 10px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-xsmall {
    padding: 8px 10px;
    line-height: 14px;
    width: auto;
    font-size: 12px;
}

.btn-xxsmall {
    padding: 4px 10px;
    line-height: 14px;
    width: auto;
    font-size: 12px;
}

.btn-l {
    padding: 9px 4px;
    font-size: 14px;
}

.btn-opt {
    min-width: 50px;
}

.tag {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-align: center;
    margin: 0;
    color: #999;
    font-size: 12px;
    line-height: 12px;
    padding: 4px;
}

.tag-big {
    font-size: 14px;
    line-height: 18px;
}

.tag.tag-green {
    color: #06bf04;
    border-color: #0c3;
}

.tag.tag-orange {
    color: #f60;
    border-color: #f60;
}

.tag.tag-orangef60 {
    color: #f60;
    border-color: #f60;
}

.tag.tag-white {
    color: #333;
    border-color: #bbb;
}

.tag.tag-blue {
    color: #38f;
    border-color: #38f;
}

.tag.tag-red {
    color: #ed5050;
    border-color: #ed5050;
}

.tag.tag-pink {
    color: #ee614b;
    border-color: #ee614b;
}

.tag.disabled {
    background-color: #ddd !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    color: #fff !important;
}

.block-item {
    position: relative;
    display: block;
    padding: 10px;
    line-height: 1.5;
    border: 0;
    -webkit-border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
    -moz-border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
    border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
    border-top: 2px solid #e5e5e5;
    overflow: hidden;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .block-item {
        border-top-width: 1px;
    }
}

.block-item .btn-auth-code {
    position: absolute;
    top: 6px;
    right: 0;
    height: 30px;
    line-height: 30px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
}

.block-item .verify-image {
    position: absolute;
    width: 80px;
    height: 30px;
    right: 10px;
    top: 7px;
}

.block-item.border-none {
    border-top: 0;
}

.block-item ul {
    padding-right: 50px;
}

    .block-item ul em {
        color: #999;
    }

.block-item h4.block-item-title {
    line-height: 22px;
    float: left;
    margin-right: 10px;
}

.block {
    -webkit-border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
    -moz-border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
    border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    overflow: hidden;
    margin: 10px 0;
    background-color: #fff;
    display: block;
    position: relative;
    font-size: 14px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .block {
        border-top-width: 1px;
        border-bottom-width: 1px;
    }
}

.block.top-0 {
    margin-top: 0;
}

.block.bottom-0 {
    margin-bottom: 0;
}

.block.border-top-0 {
    border-top: 0;
}

.block.border-bottom-0 {
    border-bottom: 0;
}

.block.border-0 {
    border-top: 0;
    border-bottom: 0;
}

.block:first-child {
    margin-top: 0;
}

.block .bottom {
    padding: 10px;
    height: 18px;
    line-height: 18px;
}

    .block .bottom .price {
        float: right;
        color: #f60;
    }

.block p {
    overflow: hidden;
}

.block.block-list {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    list-style: none;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .block.block-list.margin-top-normal {
        margin-top: 20px;
    }

.block-list.wf {
    padding-left: 0;
}

    .block-list.wf .b-list {
        padding-left: 10px;
        background-color: #fff;
    }

.block-list > .block-item {
    padding: 10px 10px 10px 0;
}

    .block-list > .block-item:first-child {
        border-top: 0px none;
    }

.block.block-list + .block.block-list {
    margin-top: 12px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
    .block.block-list li span.clear {
        background: url("/AddFunction/03CustomPay/Images/icon_clear@2x.png") center center no-repeat;
        background-size: 100%;
    }
}

.form {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .form.mg-top-20 {
        margin-top: 20px;
    }

    .form.mg-bottom-20 {
        margin-bottom: 20px;
    }

    .form .block-item.no-top-border {
        border-top-width: 0px;
    }

    .form > .block-item:first-child {
        border-top: 0px none;
    }

    .form .block-item {
        display: table;
        width: 100%;
        padding: 0;
    }

        .form .block-item label {
            display: table-cell;
            width: 90px;
            line-height: 28px;
            padding: 10px 0;
        }

        .form .block-item textarea, .form .block-item input, .form .block-item select, .form .block-item a, .form .block-item span {
            display: table-cell;
            overflow: hidden;
            padding: 10px 0;
            min-height: 28px;
            line-height: 28px;
            font-size: 14px;
        }

        .form .block-item textarea, .form .block-item input, .form .block-item select {
            width: 99%;
            background-color: #fff;
            border: 0px none;
            outline: none;
        }

        .form .block-item textarea {
            height: 50px;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            resize: none;
        }

        .form .block-item:last-child {
            border-bottom: 0px none;
        }

@-webkit-keyframes loader {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes loader {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader-container {
    position: relative;
    width: 200px;
    height: 100px;
    border-radius: 8px;
    background-color: #fff;
}

    .loader-container .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -29px;
        margin-left: -24px;
        height: 17px;
        padding-top: 41px;
        text-align: center;
        color: #888;
        z-index: 1000;
    }

        .loader-container .loader::before, .loader-container .loader::after {
            position: absolute;
            content: '';
            top: 0%;
            left: 50%;
            margin-left: -12px;
            width: 24px;
            height: 24px;
            border-radius: 100%;
        }

        .loader-container .loader::after {
            border-width: 3px;
            border-style: solid;
            border-color: #d9d9d9 #d9d9d9 #d9d9d9 transparent;
            -webkit-box-shadow: 0px 0px 0px 1px transparent;
            box-shadow: 0px 0px 0px 1px transparent;
            -webkit-animation: loader 0.8s linear;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation: loader 0.8s linear;
            -moz-animation: loader 0.8s linear;
            animation: loader 0.8s linear;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }

textarea.txt, input.txt {
    border: 1px solid #e5e5e5;
    padding: 5px;
    resize: none;
    border-radius: 4px;
}

    textarea.txt:focus, input.txt:focus {
        outline: none !important;
    }

    textarea.txt.txt-nb, input.txt.txt-nb {
        border: 0px none;
    }

        textarea.txt.txt-nb:focus, input.txt.txt-nb:focus {
            border-color: #eee;
        }

    textarea.txt.txt-black, textarea.txt input.txt.txt-black, input.txt.txt-black, input.txt input.txt.txt-black {
        color: #444;
    }

.circular {
    border-radius: 320px;
}

    .circular.nested {
        position: relative;
    }

        .circular.nested .circular {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

.tag {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-align: center;
    margin: 0;
    color: #999;
    font-size: 12px;
    line-height: 12px;
    padding: 4px;
}

.tag-big {
    font-size: 14px;
    line-height: 18px;
}

.tag.tag-green {
    color: #06bf04;
    border-color: #0c3;
}

.tag.tag-orange {
    color: #f60;
    border-color: #f60;
}

.tag.tag-orangef60 {
    color: #f60;
    border-color: #f60;
}

.tag.tag-white {
    color: #333;
    border-color: #bbb;
}

.tag.tag-blue {
    color: #38f;
    border-color: #38f;
}

.tag.tag-red {
    color: #ed5050;
    border-color: #ed5050;
}

.tag.tag-pink {
    color: #ee614b;
    border-color: #ee614b;
}

.tag.disabled {
    background-color: #ddd !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    color: #fff !important;
}

.btn-1-1, .btn-2-1, .btn-3-1 {
    display: inline-block;
    padding: 0 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .btn-1-1 .tag, .btn-1-1 .btn, .btn-2-1 .tag, .btn-2-1 .btn, .btn-3-1 .tag, .btn-3-1 .btn {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.btn-1-1 {
    width: 100%;
    padding-left: 0;
}

    .btn-1-1 .tag, .btn-1-1 .btn {
        width: 50% !important;
    }

.btn-2-1 {
    width: 49.5%;
}

.btn-3-1 {
    width: 33.3%;
}

.action-container {
    padding: 0 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0;
}

    .action-container > div {
        margin-bottom: 0;
    }

        .action-container > div:last-child {
            margin-bottom: 0;
        }

    .action-container > button, .action-container > .btn {
        margin-bottom: 10px;
    }

        .action-container > button:last-child, .action-container > .btn:last-child {
            margin-bottom: 0;
        }

.wrapper-form .form-item {
    position: relative;
    margin-top: 10px;
}

    .wrapper-form .form-item label {
        position: absolute;
        top: 1px;
        left: 10px;
        line-height: 45px;
        z-index: 1;
        color: #666;
    }

    .wrapper-form .form-item textarea, .wrapper-form .form-item input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        line-height: 18px;
        padding: 12px 10px 12px 68px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 14px;
        outline: none;
        opacity: 1;
        -webkit-appearance: none;
    }

        .wrapper-form .form-item input[disabled='disabled'] {
            background: #f8f8f8;
        }

    .wrapper-form .form-item:first-child {
        margin-top: 0;
    }

.btn-1-1, .btn-2-1, .btn-3-1 {
    display: inline-block;
    padding: 0 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .btn-1-1 .tag, .btn-1-1 .btn, .btn-2-1 .tag, .btn-2-1 .btn, .btn-3-1 .tag, .btn-3-1 .btn {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.btn-1-1 {
    width: 100%;
    padding-left: 0;
}

    .btn-1-1 .tag, .btn-1-1 .btn {
        width: 50% !important;
    }

.btn-2-1 {
    width: 49.5%;
}

.btn-3-1 {
    width: 33.3%;
}

.action-container {
    padding: 0 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0;
}

    .action-container > div {
        margin-bottom: 0;
    }

        .action-container > div:last-child {
            margin-bottom: 0;
        }

    .action-container > button, .action-container > .btn {
        margin-bottom: 10px;
    }

        .action-container > button:last-child, .action-container > .btn:last-child {
            margin-bottom: 0;
        }

.popout-box .header {
    position: relative;
    margin-bottom: 10px;
    -webkit-border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
    -moz-border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
    border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
    border-bottom: 2px solid #e5e5e5;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .popout-box .header {
        border-bottom-width: 1px;
    }
}

.popout-box .header h2 {
    margin-bottom: 16px;
    line-height: 16px;
    font-size: 16px;
}

.popout-box .action-container {
    margin: 10px 0 0 0;
    padding: 0;
}

    .popout-box .action-container .btn.btn-block {
        font-size: 14px;
    }

.popout-login .wrapper-form {
    padding-top: 10px;
}

    .popout-login .wrapper-form .verify-image {
        position: absolute;
        right: 0px;
        top: 7px;
        width: 80px;
        height: 30px;
    }

    .popout-login .wrapper-form .btn-auth-code {
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
        padding: 15px 4px;
        border-radius: 5px;
    }

    .popout-login .wrapper-form .txt-cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
    }

    .popout-login .wrapper-form .txt-cover-half {
        right: 90px;
    }

    .popout-login .wrapper-form .error {
        margin-top: 10px;
        word-break: break-word;
    }

.popout-login .bottom-tips {
    padding-top: 16px;
    font-size: 0;
}

    .popout-login .bottom-tips .inline-item {
        padding: 0 10px;
        border-right: 1px solid #e5e5e5;
        font-size: 12px;
    }

        .popout-login .bottom-tips .inline-item:last-child {
            padding-right: 0px;
            border-right: 0px none;
        }

.avatar {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}

    .avatar img {
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 auto;
    }

    .avatar p {
        line-height: 50px;
        font-size: 12px;
        margin-top: 0;
        margin-bottom: -1px;
    }

        .avatar p > span {
            padding: 5px 15px;
            background-color: #809843;
            border-radius: 13px;
            color: #fff;
        }

.name-card {
    margin-left: 0px;
    width: auto;
    padding: 5px 0;
    overflow: hidden;
    position: relative;
}

    .name-card .thumb {
        width: 60px;
        height: 60px;
        float: left;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        background-size: cover;
    }

        .name-card .thumb img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }

    .name-card a:hover, .name-card a:active {
        text-decoration: none;
    }

    .name-card .detail {
        margin-left: 68px;
        width: auto;
        position: relative;
    }

        .name-card .detail h3 {
            margin-top: 1px;
            color: #333;
            font-size: 12px;
            line-height: 16px;
            width: 100%;
        }

        .name-card .detail p {
            position: relative;
            font-size: 12px;
            line-height: 16px;
            white-space: nowrap;
            margin: 0 0 2px;
            color: #ccc;
        }

        .name-card .detail a {
            display: block;
        }

        .name-card .detail .l2-ellipsis {
            max-height: 34px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

    .name-card .btn-goods-link {
        bottom: 8px;
        right: 10px;
        position: absolute;
        line-height: 14px;
        font-size: 12px;
    }

    .name-card.name-card-3col {
        padding: 8px 0;
        padding-right: 85px;
    }

        .name-card.name-card-3col .right-col {
            position: absolute;
            right: 0px;
            top: 8px;
            width: 78px;
            padding-right: 10px;
            font-size: 12px;
        }

            .name-card.name-card-3col .right-col .price {
                font-size: 14px;
                color: #515151;
                text-align: right;
                line-height: 16px;
            }

            .name-card.name-card-3col .right-col .num {
                font-weight: 200;
                text-align: right;
                margin-top: 3px;
                padding: 0;
                color: #555;
            }

                .name-card.name-card-3col .right-col .num .num-txt {
                    padding: 0;
                    line-height: 22px;
                    color: #515151;
                }

            .name-card.name-card-3col .right-col .order-state {
                font-size: 13px;
                text-align: right;
            }

.btn-1-1, .btn-2-1, .btn-3-1 {
    display: inline-block;
    padding: 0 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .btn-1-1 .tag, .btn-1-1 .btn, .btn-2-1 .tag, .btn-2-1 .btn, .btn-3-1 .tag, .btn-3-1 .btn {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.btn-1-1 {
    width: 100%;
    padding-left: 0;
}

    .btn-1-1 .tag, .btn-1-1 .btn {
        width: 50% !important;
    }

.btn-2-1 {
    width: 49.5%;
}

.btn-3-1 {
    width: 33.3%;
}

.action-container {
    padding: 0 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0;
}

    .action-container > div {
        margin-bottom: 0;
    }

        .action-container > div:last-child {
            margin-bottom: 0;
        }

    .action-container > button, .action-container > .btn {
        margin-bottom: 10px;
    }

        .action-container > button:last-child, .action-container > .btn:last-child {
            margin-bottom: 0;
        }

.popout-box .header {
    position: relative;
    margin-bottom: 10px;
    -webkit-border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
    -moz-border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
    border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
    border-bottom: 2px solid #e5e5e5;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .popout-box .header {
        border-bottom-width: 1px;
    }
}

.popout-box .header h2 {
    margin-bottom: 16px;
    line-height: 16px;
    font-size: 16px;
}

.popout-box .action-container {
    margin: 10px 0 0 0;
    padding: 0;
}

    .popout-box .action-container .btn.btn-block {
        font-size: 14px;
    }

.btn-1-1, .btn-2-1, .btn-3-1 {
    display: inline-block;
    padding: 0 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .btn-1-1 .tag, .btn-1-1 .btn, .btn-2-1 .tag, .btn-2-1 .btn, .btn-3-1 .tag, .btn-3-1 .btn {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.btn-1-1 {
    width: 100%;
    padding-left: 0;
}

    .btn-1-1 .tag, .btn-1-1 .btn {
        width: 50% !important;
    }

.btn-2-1 {
    width: 49.5%;
}

.btn-3-1 {
    width: 33.3%;
}

.action-container {
    padding: 0 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0;
}

    .action-container > div {
        margin-bottom: 0;
    }

        .action-container > div:last-child {
            margin-bottom: 0;
        }

    .action-container > button, .action-container > .btn {
        margin-bottom: 10px;
    }

        .action-container > button:last-child, .action-container > .btn:last-child {
            margin-bottom: 0;
        }

.action-tip {
    font-size: 12px;
    line-height: 16px;
    padding: 0 15px;
    margin: 10px 0;
    color: #999;
}

.paid-status.success {
    background: #fff;
}

    .paid-status.success .header {
        position: relative;
        padding: 15px 0;
        background: #fff;
        text-align: center;
    }

        .paid-status.success .header h2 {
            font-size: 14px;
            color: #333;
        }

        .paid-status.success .header p {
            position: relative;
            top: 3px;
            font-size: 12px;
            color: #666;
        }

        .paid-status.success .header .warn-icon, .paid-status.success .header .success-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background-size: 20px 20px;
            vertical-align: middle;
        }

        .paid-status.success .header .warn-icon {
            background-image: url("/AddFunction/03CustomPay/Images/warn.png");
        }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .paid-status.success .header .warn-icon {
        background-image: url("/AddFunction/03CustomPay/Images/warn@2x.png");
    }
}

.paid-status.success .header .success-icon {
    background-image: url("/AddFunction/03CustomPay/Images/success.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .paid-status.success .header .success-icon {
        background-image: url("/AddFunction/03CustomPay/Images/success@2x.png");
    }
}

.paid-status.success .header .price-warp {
    margin-top: 12px;
    font-size: 20px;
    text-align: center;
    color: #f60;
}

.paid-status.success .nbody {
    min-height: 10px;
    padding: 0 10px;
    font-size: 14px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    -webkit-border-image: url("/AddFunction/03CustomPay/Images/border-line.png") 2 stretch;
    -moz-border-image: url("/AddFunction/03CustomPay/Images/border-line.png") 2 stretch;
    border-image: url("/AddFunction/03CustomPay/Images/border-line.png") 2 stretch;
}

    .paid-status.success .nbody li {
        border-top: 1px solid #e5e5e5;
        -webkit-border-image: url("/AddFunction/03CustomPay/Images/border-line.png") 2 stretch;
        -moz-border-image: url("/AddFunction/03CustomPay/Images/border-line.png") 2 stretch;
        border-image: url("/AddFunction/03CustomPay/Images/border-line.png") 2 stretch;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
    }

        .paid-status.success .nbody li:first-child {
            border-top: 0;
        }

        .paid-status.success .nbody li > div {
            display: inline-block;
            float: right;
        }

        .paid-status.success .nbody li .member-card-icon {
            display: inline-block;
            width: 24px;
            height: 20px;
            margin-right: 10px;
            background-size: 24px 20px;
            vertical-align: middle;
            background-image: url(/AddFunction/03CustomPay/Images/f2c8678744680f71f1ba2f1e519d7032.png);
        }

        .paid-status.success .nbody li label {
            color: #666;
        }

        .paid-status.success .nbody li .btn {
            width: 60px;
            height: 30px;
            line-height: 30px;
            padding: 0;
            color: #333;
            font-size: 14px;
        }

            .paid-status.success .nbody li .btn.get-card {
                background: #f60;
                border-color: #f60;
                color: #fff;
            }

.paid-status.success .bottom {
    background: #f8f8f8;
    padding: 20px 0;
}

.paid-status.success .action-container {
    margin: 0;
    overflow: hidden;
    padding: 0;
    padding-right: 10px;
}

    .paid-status.success .action-container .btn.btn-block {
        font-size: 14px;
    }

    .paid-status.success .action-container .item {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        padding-left: 5px;
    }

        .paid-status.success .action-container .item:first-child {
            padding-left: 10px;
        }

.paid-status.success .activity .title {
    margin: 20px 10px 10px;
    position: relative;
    padding: 1px 0;
}

    .paid-status.success .activity .title hr {
        margin: 6px 0;
    }

    .paid-status.success .activity .title span {
        display: block;
        padding: 0 10px;
        background: #f8f8f8;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 12px;
        color: #999;
    }

.paid-status.success .activity .poster .poster-content {
    display: block;
    padding-top: 26.66667%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.paid-status.refund .header, .paid-status.sold-out .header, .paid-status.waiting .header {
    position: relative;
    padding: 15px 0;
}

    .paid-status.refund .header h2, .paid-status.sold-out .header h2, .paid-status.waiting .header h2 {
        font-size: 14px;
        color: #333;
    }

    .paid-status.refund .header p, .paid-status.sold-out .header p, .paid-status.waiting .header p {
        position: relative;
        top: 3px;
        font-size: 12px;
        color: #ccc;
    }

    .paid-status.refund .header .warn-icon, .paid-status.refund .header .success-icon, .paid-status.sold-out .header .warn-icon, .paid-status.sold-out .header .success-icon, .paid-status.waiting .header .warn-icon, .paid-status.waiting .header .success-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-size: 20px 20px;
        vertical-align: middle;
    }

    .paid-status.refund .header .warn-icon, .paid-status.sold-out .header .warn-icon, .paid-status.waiting .header .warn-icon {
        background-image: url("/AddFunction/03CustomPay/Images/warn.png");
    }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .paid-status.refund .header .warn-icon, .paid-status.sold-out .header .warn-icon, .paid-status.waiting .header .warn-icon {
        background-image: url("/AddFunction/03CustomPay/Images/warn@2x.png");
    }
}

.paid-status.refund .header .success-icon, .paid-status.sold-out .header .success-icon, .paid-status.waiting .header .success-icon {
    background-image: url("/AddFunction/03CustomPay/Images/success.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .paid-status.refund .header .success-icon, .paid-status.sold-out .header .success-icon, .paid-status.waiting .header .success-icon {
        background-image: url("/AddFunction/03CustomPay/Images/success@2x.png");
    }
}

.paid-status.refund .body h3, .paid-status.sold-out .body h3, .paid-status.waiting .body h3 {
    font-size: 13px;
    color: #333;
}

.paid-status.refund .body .form, .paid-status.sold-out .body .form, .paid-status.waiting .body .form {
    padding: 0;
}

    .paid-status.refund .body .form .block-item, .paid-status.sold-out .body .form .block-item, .paid-status.waiting .body .form .block-item {
        border: 0;
    }

        .paid-status.refund .body .form .block-item label, .paid-status.refund .body .form .block-item span, .paid-status.sold-out .body .form .block-item label, .paid-status.sold-out .body .form .block-item span, .paid-status.waiting .body .form .block-item label, .paid-status.waiting .body .form .block-item span {
            padding: 5px 0;
            line-height: 12px;
            font-size: 12px;
            color: #333;
        }

        .paid-status.refund .body .form .block-item label, .paid-status.sold-out .body .form .block-item label, .paid-status.waiting .body .form .block-item label {
            width: 70px;
        }

        .paid-status.refund .body .form .block-item .price, .paid-status.sold-out .body .form .block-item .price, .paid-status.waiting .body .form .block-item .price {
            color: #33cc00;
        }

.paid-status.refund .action-container, .paid-status.sold-out .action-container, .paid-status.waiting .action-container {
    margin-top: 30px;
}

    .paid-status.refund .action-container .btn.btn-block, .paid-status.sold-out .action-container .btn.btn-block, .paid-status.waiting .action-container .btn.btn-block {
        font-size: 14px;
    }

.paid-status.refund .shop-info, .paid-status.sold-out .shop-info, .paid-status.waiting .shop-info {
    overflow: hidden;
    margin: 0 10px;
    padding: 15px 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

    .paid-status.refund .shop-info .shop-img img, .paid-status.sold-out .shop-info .shop-img img, .paid-status.waiting .shop-info .shop-img img {
        width: 50px;
        height: 50px;
        display: block;
    }

    .paid-status.refund .shop-info .info-container, .paid-status.sold-out .shop-info .info-container, .paid-status.waiting .shop-info .info-container {
        font-size: 12px;
        margin: 0 60px;
    }

        .paid-status.refund .shop-info .info-container h3, .paid-status.sold-out .shop-info .info-container h3, .paid-status.waiting .shop-info .info-container h3 {
            font-weight: bold;
            font-size: 12px;
            margin-bottom: 5px;
        }

        .paid-status.refund .shop-info .info-container p, .paid-status.sold-out .shop-info .info-container p, .paid-status.waiting .shop-info .info-container p {
            line-height: 1.2;
        }

    .paid-status.refund .shop-info .subscribe-btn, .paid-status.sold-out .shop-info .subscribe-btn, .paid-status.waiting .shop-info .subscribe-btn {
        padding: 5px 10px;
        font-size: 12px;
        border: 1px solid #06bf04;
        color: #06bf04;
        border-radius: 3px;
        margin-top: 13px;
    }

.paid-status.sold-out .header {
    border-bottom: 1px solid #f2f2f2;
}

.paid-status.waiting .header {
    padding-left: 60px;
}

    .paid-status.waiting .header .warn-icon {
        position: absolute;
        top: 16px;
        left: 30px;
    }

    .paid-status.waiting .header .btn {
        position: absolute;
        top: 15px;
        right: 10px;
        width: 40px;
    }

.paid-status.refund .header {
    padding-left: 50px;
}

    .paid-status.refund .header .warn-icon {
        position: absolute;
        top: 16px;
        left: 20px;
    }

@-webkit-keyframes blink-border {
    0% {
        border: 1px solid #e5e5e5;
    }

    20% {
        border: 1px solid #ed5050;
    }

    50% {
        border: 1px solid #fff;
    }

    80% {
        border: 1px solid #ed5050;
    }

    100% {
        border: 1px solid #e5e5e5;
    }
}

@-moz-keyframes blink-border {
    0% {
        border: 1px solid #e5e5e5;
    }

    20% {
        border: 1px solid #ed5050;
    }

    50% {
        border: 1px solid #fff;
    }

    80% {
        border: 1px solid #ed5050;
    }

    100% {
        border: 1px solid #e5e5e5;
    }
}

@keyframes blink-border {
    0% {
        border: 1px solid #e5e5e5;
    }

    20% {
        border: 1px solid #ed5050;
    }

    50% {
        border: 1px solid #fff;
    }

    80% {
        border: 1px solid #ed5050;
    }

    100% {
        border: 1px solid #e5e5e5;
    }
}

.blink-border {
    -webkit-animation-name: blink-border;
    -moz-animation-name: blink-border;
    animation-name: blink-border;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.wish-gift-success .name-selection {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    .wish-gift-success .name-selection .btn {
        position: relative;
        width: 125px;
        height: 40px;
        font-size: 13px;
    }

        .wish-gift-success .name-selection .btn.active {
            color: #06bf04;
            border-color: #00cc33;
        }

            .wish-gift-success .name-selection .btn.active::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 16px;
                height: 16px;
                background: url("/AddFunction/03CustomPay/Images/jiaobiao@2x.png") no-repeat;
                background-size: 16px 16px;
            }

.wish-gift-success .name-wrap {
    overflow: hidden;
    position: relative;
    height: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

    .wish-gift-success .name-wrap.slide-name {
        padding-top: 50px;
    }

.wish-gift-success .wish-gift-name {
    position: absolute;
    margin-top: 10px;
    line-height: 18px;
    top: 0;
}

.wish-gift-success .msg-label {
    display: block;
    margin-top: 15px;
}

.wish-gift-success .wish-gift-msg {
    height: 80px;
    border: 0px none;
}

.wish-gift-success .msg-container {
    margin-top: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.wish-gift-success input, .wish-gift-success textarea {
    padding: 10px;
}

.wish-gift-success .txt {
    width: 248px;
}

.wish-gift-success .wish-gift-msg-change {
    padding: 10px 5px 10px 10px;
}

.wish-gift-success .error-msg {
    margin-top: 10px;
    color: #ed5050;
}

.block-radius-co {
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 0 10px 10px;
    color: #828282;
    border-top: 0;
}

.block-radius-co2 {
    padding: 20px;
    background-color: #FF495B;
    color: #fff;
}

    .block-radius-co2 .card-remark {
        margin: 5px 0 10px;
    }

    .block-radius-co2 .card-cash-back {
        color: #ffb2b2;
    }

    .block-radius-co2 .crad-res-data {
        display: inline-block;
        margin: 2px 0 0 0;
    }

.card-res-icon {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 20px;
    background: url("/AddFunction/03CustomPay/Images/paid_fx_icon@2x.png") center center no-repeat;
    background-size: contain;
    margin-right: 3px;
}

.block-pull-info {
    height: 34px;
    line-height: 34px;
}

.action-container.padding-0 {
    padding: 0;
}

.ui-keyboard {
    position: fixed;
    background: #fff;
    z-index: 999;
    width: 100%;
    height: 220px;
    bottom: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-top: 1px solid #ececec;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

    .ui-keyboard.on {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

.ui-keyboard-numbers, .ui-keyboard-buttons {
    float: left;
}

.ui-keyboard-numbers {
    width: 75%;
}

    .ui-keyboard-numbers li {
        width: 33.333333333%;
        line-height: 54px;
        font-size: 24px;
        color: #030303;
        font-family: arail;
        float: left;
        -webkit-border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
        -moz-border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
        border-image: url("/AddFunction/03CustomPay/Images/border-line-2.png") 2 stretch;
        border-bottom: 2px solid #e5e5e5;
        border-right: 2px solid #e5e5e5;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .ui-keyboard-numbers li {
        border-bottom-width: 1px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .ui-keyboard-numbers li {
        border-right-width: 1px;
    }
}

.ui-keyboard-numbers li.zero {
    width: 66.666666667%;
}

.ui-keyboard-numbers li:active {
    background-color: rgba(0,0,0,0.1);
}

.ui-keyboard-buttons {
    width: 25%;
    height: 100%;
}

    .ui-keyboard-buttons li {
        width: 100%;
        height: 50%;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        line-height: 110px;
    }

        .ui-keyboard-buttons li.btn-ok {
            background-color: #54c153;
            color: #fff;
            font-size: 20px;
        }

        .ui-keyboard-buttons li.btn-del {
            text-indent: -999em;
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAgCAMAAABemGpIAAAAP1BMVEUAAAADAwMEBAQHBwcDAwMFBQUFBQUGBgYEBAQEBAQFBQUDAwMGBgYDAwMDAwMDAwMDAwMEBAQEBAQKCgoDAwPtx6+KAAAAFHRSTlMA4zYi8GJeW8m9ZlMq+PPy20VAGbylT/kAAACSSURBVDjLndTJDoUgEERR1Dfg8Ebr/7/VjVrR1pBrrSA5C6CbTtv0Xx3mnbu0z13naceylTWwUgesMrD6rPahcojVka2Hypvbv3kZB6tfaqrV1mmQsa3BrL00fsoxiVa2QQcr26gXa9xLZ3qxxt4GbQswOAa7IHs6VBRWbtJIvEV58xPNPizQ+dqQKeuWDUY0cieMsVE1lE2K2gAAAABJRU5ErkJggg==") no-repeat;
            background-size: 22px 16px;
            background-position: center center;
        }

        .ui-keyboard-buttons li:active {
            background-color: rgba(0,0,0,0.1);
        }

.cursor {
    position: relative;
    top: 1px;
    width: 2px;
    height: 50px;
    background: #333;
    display: inline-block;
    vertical-align: top;
    -webkit-animation: inputCursorAnimation 1s infinite;
    -moz-animation: inputCursorAnimation 1s infinite;
    animation: inputCursorAnimation 1s infinite;
}

@-webkit-keyframes inputCursorAnimation {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes inputCursorAnimation {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes inputCursorAnimation {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.paid-status .body .form .block-item label {
    width: 76px;
}

.cashier-decrease-container .total-input {
    font-size: 16px;
    color: #ed5050;
}

.cashier-decrease-container .block-item label {
    width: 260px;
}

.cashier-info-container {
    position: relative;
    overflow: hidden;
}

    .cashier-info-container .cashier-avatar {
        width: 300px;
        height: 80px;
    }

        .cashier-info-container .cashier-avatar img {
            width: auto !important;
            height: 80px;
        }

        .cashier-info-container .cashier-avatar p {
            color: #222;
            font-size: 16px;
        }

.free-cash .cashier-info-container .cashier-avatar {
    padding: 25px 0;
}

.fixed-cash .cashier-info-container .cashier-avatar {
    padding-top: 55px;
}

.cashier-info-container .avatar-tip {
    padding: 0 10px;
    margin: 10px 0 20px 0;
    font-size: 18px;
    line-height: 18px;
    color: #888;
}

.cashier-info-container .avatar-price {
    margin-top: 20px;
    line-height: 31px;
    font-size: 40px;
    color: #222;
}

    .cashier-info-container .avatar-price .rmb {
        position: relative;
        top: 3px;
    }

.cashier-info-container .reason {
    font-size: 16px;
    color: #999999;
    text-align: left;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin: 25px 10px 15px 10px;
    line-height: 22px;
}

    .cashier-info-container .reason span {
        color: #000;
    }

.cashier-info-container .avatar-price.anonym {
    margin-bottom: 10px;
}

.cashier-info-container .wrapper-form.payer-form {
    padding: 0 10px;
    margin-bottom: 10px;
}

    .cashier-info-container .wrapper-form.payer-form .form-item label {
        font-size: 14px;
        line-height: 40px;
        color: #333;
    }

    .cashier-info-container .wrapper-form.payer-form .form-item input {
        width: 100%;
        height: 40px;
        padding: 10px 10px 10px 75px;
        border-radius: 4px;
    }

.cashier-info-container .cashier-form {
    margin: 0 10px;
    padding: 20px 15px 12px;
    border: 1px solid #e5e5e5;
}

    .cashier-info-container .cashier-form .cashier-field {
        position: relative;
        padding: 10px 0 0 15px;
    }

    .cashier-info-container .cashier-form .money-text {
        position: absolute;
        left: 0;
        top: 16px;
        font-size: 20px;
        z-index: 1;
    }

    .cashier-info-container .cashier-form .cashier-text {
        width: 95%;
        padding: 0 5px;
        border: 0;
        font-size: 50px;
        outline: 0;
        word-wrap: break-word;
        word-break: break-all;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

.cashier-info-container .block-timeout {
    padding: 15px 0;
    margin-bottom: 20px;
}

    .cashier-info-container .block-timeout .thumb {
        width: 50px;
        height: 50px;
        margin-left: 15px;
    }

        .cashier-info-container .block-timeout .thumb img {
            width: 50px;
            height: 50px;
        }

    .cashier-info-container .block-timeout .detail {
        margin-left: 74px;
        padding-top: 3px;
    }

        .cashier-info-container .block-timeout .detail .tip, .cashier-info-container .block-timeout .detail .price {
            color: #888;
        }

        .cashier-info-container .block-timeout .detail .tip {
            padding-right: 65px;
            font-size: 16px;
            line-height: 20px;
        }

        .cashier-info-container .block-timeout .detail .price {
            margin-top: 4px;
            margin-left: -5px;
            line-height: 21px;
            font-size: 21px;
        }

            .cashier-info-container .block-timeout .detail .price .rmb {
                position: relative;
                top: 1px;
            }

.cashier-info-container .timeout-badge {
    position: absolute;
    top: 12px;
    right: -11px;
    width: 84px;
    height: 84px;
    background-size: 84px 84px;
    background-image: url("/AddFunction/03CustomPay/Images/timeout.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .cashier-info-container .timeout-badge {
        background-image: url("/AddFunction/03CustomPay/Images/timeout@2x.png");
    }
}

.cashier-info-container .timeout-tip {
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #888;
}

.cashier-info-container .cashier-privilege {
    margin-top: 20px;
}

.fixed-cash:not(.timeout) .cashier-info-container {
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}

.fixed-cash:not(.timeout) .action-container {
    margin: 27px 0 0 0;
}

.fixed-cash .action-tip {
    margin: 10px 0 26px;
}

.fixed-cash.timeout .action-tip {
    margin: 10px 0 126px;
}

    .fixed-cash.timeout .action-tip.keyboard-on {
        margin-bottom: 250px;
    }

.free-cash .action-tip {
    margin: 10px 0 30px;
}

    .free-cash .action-tip.keyboard-on {
        margin-bottom: 250px;
    }

.detail-container .action-tip {
    margin: 60px 0 14px;
}

.detail-container .success-tip {
    padding: 18px 0;
    margin-bottom: 0;
    line-height: 26px;
    font-size: 18px;
}

    .detail-container .success-tip .success-icon {
        position: relative;
        top: -1px;
        display: inline-block;
        margin-right: 7px;
        width: 26px;
        height: 26px;
        background-size: 26px 26px;
        background-image: url("/v2/image/wap/cashier/success.png");
        vertical-align: middle;
    }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .detail-container .success-tip .success-icon {
        background-image: url("/AddFunction/03CustomPay/Images/success@2x.png");
    }
}

.detail-container .block-list {
    padding-left: 10px;
    background-color: #f9f9f9;
}

.detail-container .name-card-seller .thumb {
    width: 50px;
    height: 50px;
    margin-left: 0;
}

    .detail-container .name-card-seller .thumb img {
        width: 50px;
        height: 50px;
    }

.detail-container .name-card-seller .detail {
    margin-top: 11px;
    font-size: 18px;
    color: #222;
}

.detail-container .block.form {
    background-color: #f9f9f9;
    padding: 0;
}

    .detail-container .block.form .block-item {
        border: 0;
    }

        .detail-container .block.form .block-item label, .detail-container .block.form .block-item span {
            padding: 5px 0;
            line-height: 15px;
            font-size: 15px;
            color: #888;
        }

        .detail-container .block.form .block-item span {
            text-align: right;
        }

            .detail-container .block.form .block-item span.c-red {
                color: #d13600;
            }

.detail-container .price {
    margin-top: 25px;
    line-height: 44px;
    color: #222;
    font-size: 44px;
}

    .detail-container .price .rmb {
        position: relative;
        top: 3px;
    }

.detail-container .price-tip {
    font-size: 15px;
    color: #888;
}

.money-card .block-radius-co2 {
    padding: 20px 20px 10px;
}

    .money-card .block-radius-co2 .card-remark {
        margin: 10px 0;
    }

.no-padding {
    padding: 0 !important;
    border-radius: 8px;
}

.selffetch-voucher {
    border: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    margin: 0 10px;
    position: relative;
}

    .selffetch-voucher h3 {
        line-height: 45px;
        padding: 0 10px 0 25px;
        margin: 0 10px;
        border-bottom: 1px dashed #e5e5e5;
        background: url("/AddFunction/03CustomPay/Images/selffetch_voucher.png") no-repeat left center;
        background-size: 15px 15px;
    }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .selffetch-voucher h3 {
        background-image: url("/AddFunction/03CustomPay/Images/selffetch_voucher@2x.png");
    }
}

.selffetch-voucher .left-circle, .selffetch-voucher .right-circle {
    background-color: #e5e5e5;
    width: 6px;
    height: 12px;
    position: absolute;
    top: 40px;
}

    .selffetch-voucher .left-circle::before, .selffetch-voucher .right-circle::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 10px;
        top: 1px;
        background-color: #f8f8f8;
    }

.selffetch-voucher .left-circle {
    left: -1px;
    border-radius: 0 12px 12px 0;
}

    .selffetch-voucher .left-circle::before {
        left: 0;
        border-radius: 0 10px 10px 0;
    }

.selffetch-voucher .right-circle {
    right: -1px;
    border-radius: 12px 0 0 12px;
}

    .selffetch-voucher .right-circle::before {
        right: 0;
        border-radius: 10px 0 0 10px;
    }

.voucher-code {
    padding: 0 10px;
    border-bottom: 1px dashed #e5e5e5;
    text-align: center;
}

    .voucher-code p {
        color: #666;
        margin: 30px 0;
    }

    .voucher-code img {
        width: 140px;
        height: 140px;
    }

.voucher-address, .voucher-goods-info {
    padding: 10px;
    border-bottom: 1px dashed #e5e5e5;
}

    .voucher-address p, .voucher-goods-info p {
        color: #333;
        line-height: 2;
    }

.voucher-goods-info {
    border-bottom: 0;
}

.voucher-tip {
    position: absolute;
    right: 5px;
    top: -10px;
    line-height: 36px;
    background-color: #262728;
    opacity: .8;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

    .voucher-tip::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 9px solid transparent;
        border-top-color: #262728;
        bottom: -18px;
        right: 15px;
    }

.pf-follow-pop {
    padding-top: 60px;
    background: url("/AddFunction/03CustomPay/Images/star.png") no-repeat center 10px;
    background-size: 50px;
    text-align: center;
}

    .pf-follow-pop .pf-follow-text {
        line-height: 60px;
    }

    .pf-follow-pop .btn {
        padding: 8px 20px;
        margin: 0 5px;
    }

.pf-only .btn {
    padding: 10px;
    margin: 0 5px;
}

.pf-only .btn-cancel {
    padding: 10px 40px;
}
