
<div class="row" ng-style="(isLoading) ? {display:'block'} : {display:'none'}" style="display:none;">
    <div class="row">
        <br /><br /><br />
        <p class="text-center" style="font-size:32px;">努力加载中<i class="fa fa-spinner fa-pulse"></i></p>
        <br /><br /><br />
    </div>
</div>


