.t-btn-hf1{
	background-image:url('myImg/t-btn-hf1.png');
}
.c-bf{
	background-color:#005490;
}
.t-93{
	color:#fff;
}
.uinn-z1{
	padding:0.3em 0 1.7em 0;
}
.appCan{
	background-image:url(myImg/logo.png);
}