<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="AccessKey" value="gJ1XM_EGrQnSWj-9sjpTmjiVbe1203U98yYu5XSt" />
		<add key="SecretKey" value="EPI1MsHyFcKnI8ncL66gsYCpwjsL7UqR0Nl9-uFm" />
		<add key="Bucket" value="test" />
		<add key="QiNiuUplaodCache" value="E:\Works_Dream\0055eggsoft.cnvs2015_GaoErFu\12upload.eggsoft.cn\Upload\QiNiuUplaodCache\" />
		<add key="QiNiuUplaodCPath" value="E:\Works_Dream\0055eggsoft.cnvs2015_GaoErFu\12upload.eggsoft.cn" />



		<add key="WriteLogUrl" value="http://219.235.0.112:11003/Api/LogsEveryDay/Write_Log" />
		<add key="EggsoftWX.DALFactory" value="EggsoftWX.SQLServerDAL" />
		<!--<add key="SiteUrls" value="~/SiteUrls.config"/>-->
		<!--<add key="UpLoadURL" value="https://Upload.eggsoft.cn"/>-->
		<add key="AdminURL" value="https://myadmin.eggsoft.cn" />
		<!--<add key="ClientAdminURL" value="http://client.eggsoft.cn"/>-->
		<add key="ClientApp" value="http://cssdebug.shanghaishiyi.com" />
		<add key="UpLoadResourceURL" value="http://qiniu.eggsoft.cn" />
		<add key="UpLoadURL" value="http://localhost:8012" />
		<add key="ClientAdminURL" value="http://localhost:8005" />
	</appSettings>
	<connectionStrings>
    <add name="Shop.Earth17.Com_ConnectionString" connectionString="Data Source=139.196.200.168,21433;Initial Catalog=MHappy_Com__Pro;Persist Security Info=True;User ID=notsatest;Password=#EDC4rfv;Enlist=true;Pooling=true;Max Pool Size = 700; Min Pool Size=30; Connection Lifetime = 300;packet size=1000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
	<system.web>
		<sessionState timeout="240" />
		<customErrors mode="Off" />

		<pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
		<!--maxRequestLength 指定的大小以 KB 为单位。默认值为 4096 KB (4 MB)。  executionTimeout：表示允许执行请求的最大时间限制，单位为秒 　只有当 compilation 元素中的调试属性为 False 时，此超时属性才适用。若要帮助避免在调试期间关闭应用程序，请不要将此超时属性设置为较大值。-->
		<httpRuntime requestValidationMode="2.0" maxRequestLength="10240" executionTimeout="3600" />
		<compilation debug="true" targetFramework="4.6.1" />
		<webServices>
			<protocols>
				<add name="HttpPost" />
				<add name="HttpGet" />
			</protocols>
		</webServices>
	</system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>