<?xml version="1.0" encoding="utf-8"?>
<RewriterConfig>



  <RewriterRule>
    <LookFor>~/product-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/product.aspx?goodid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/product-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/product.aspx?parentagentid=$1&goodid=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/product.aspx</LookFor>
    <SendTo><![CDATA[~/product.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/cart.aspx</LookFor>
    <SendTo><![CDATA[~/cart.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/cart_good.aspx</LookFor>
    <SendTo><![CDATA[~/cart_good.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/cart_good2.aspx</LookFor>
    <SendTo><![CDATA[~/cart_good2.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/cart_good3.aspx</LookFor>
    <SendTo><![CDATA[~/cart_good3.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/cart_self.aspx</LookFor>
    <SendTo><![CDATA[~/cart_self.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/paychoice.aspx</LookFor>
    <SendTo><![CDATA[~/paychoice.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_showmoneydata.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_showmoneydata.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_showtotalwealthdata.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_showtotalwealthdata.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_operatecenter_order.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_operatecenter_order.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_showyunyinzhongxinorderdata.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_showyunyinzhongxinorderdata.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_yunyinzhongxinallmember.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_yunyinzhongxinallmember.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_allmymember.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_allmymember.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_showyunyinzhongxintotalcreditsdata.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_showyunyinzhongxintotalcreditsdata.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>    
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_comments.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_comments.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_customer.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_customer.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_agent.aspx</LookFor>
    <SendTo><![CDATA[~/multiButton_agent.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_income_drawmoney.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_income_drawmoney.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_income_drawmoney.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_income_drawmoney.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_askmodify_parent.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_askmodify_parent.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>      
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_income_drawmoney_shareredmoney.aspx</LookFor>
    <SendTo><![CDATA[~/midsm.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_income_drawmoney_shareredmoney_shareFriend.aspx</LookFor>
    <SendTo><![CDATA[~/midsmf.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/midsm.aspx</LookFor>
    <SendTo><![CDATA[~/midsm.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/midsmf-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/midsmf.aspx?parentagentid=$1&thisshowid=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/midsmf.aspx</LookFor>
    <SendTo><![CDATA[~/midsmf.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_showmoney_vouchers.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_showmoney_vouchers.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent-(\d+)/productclass.aspx</LookFor>
    <SendTo><![CDATA[~/productclass.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/productclass.aspx</LookFor>
    <SendTo><![CDATA[~/productclass.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/ProductClassStyleModel0.aspx</LookFor>
    <SendTo><![CDATA[~/productclassstylemodel0.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/ProductClassStyleModel1.aspx</LookFor>
    <SendTo><![CDATA[~/productclassstylemodel1.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/ProductClassStyleModel2.aspx</LookFor>
    <SendTo><![CDATA[~/productclassstylemodel2.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/ProductClassStyleModel3.aspx</LookFor>
    <SendTo><![CDATA[~/productclassstylemodel3.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/guidepage-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/guidepage.aspx?guidepageid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent-(\d+)/guidepage-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/guidepage.aspx?parentagentid=$1&guidepageid=$2]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent-(\d+)/</LookFor>
    <SendTo><![CDATA[~/default.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>


  <RewriterRule>
    <LookFor>~/sagent-(\d+)/default.aspx</LookFor>
    <SendTo><![CDATA[~/default.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent-(\d+)/edityourshopini.aspx</LookFor>
    <SendTo><![CDATA[~/edityourshopini.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/edityourshop_ad.aspx</LookFor>
    <SendTo><![CDATA[~/edityourshop_ad.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/edityourshop.aspx</LookFor>
    <SendTo><![CDATA[~/edityourshop.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent-(\d+)/offlineshop.aspx</LookFor>
    <SendTo><![CDATA[~/offlineshop.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent-(\d+)/historygoodslist.aspx</LookFor>
    <SendTo><![CDATA[~/historygoodslist.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent-(\d+)/mywebuy.aspx</LookFor>
    <SendTo><![CDATA[~/mywebuy.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/commentsmessageme.aspx</LookFor>
    <SendTo><![CDATA[~/commentsmessageme.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
	<RewriterRule>
		<LookFor>~/sagent-(\d+)/poster.aspx</LookFor>
		<SendTo><![CDATA[~/Poster.aspx?parentagentid=$1]]></SendTo>
	</RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/showagentbookmark.aspx</LookFor>
    <SendTo><![CDATA[~/ShowAgentBookMark.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/cart_good2_o2o_book.aspx</LookFor>
    <SendTo><![CDATA[~/cart_good2_o2o_book.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/huodong/lottery/scratchcard.aspx</LookFor>
    <SendTo><![CDATA[~/huodong/lottery/scratchcard.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/huodong/lottery/wheel.aspx</LookFor>
    <SendTo><![CDATA[~/huodong/lottery/wheel.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/huodong/05olineinfo-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/huodong/05olineinfo.aspx?onlineid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/huodong/05olineinfo-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/huodong/05olineinfo.aspx?parentagentid=$1&onlineid=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/huodong/lightAppcn/d-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/huodong/lightAppcn/d.aspx?lightappid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/huodong/lightAppcn/d-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/huodong/lightAppcn/d.aspx?parentagentid=$1&lightappid=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/qureyexp-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/qureyexp.aspx?queryorderid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/qureyexp-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/qureyexp.aspx?parentagentid=$1&queryorderid=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/ProductWeiKanJia-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/productweikanjia.aspx?kanjiaid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/ProductWeiKanJia-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/productweikanjia.aspx?parentagentid=$1&kanjiaid=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_gouwuquanchange.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_gouwuquanchange.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/productsearchgoods.aspx</LookFor>
    <SendTo><![CDATA[~/productsearchgoods.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/addfunction/01shake_parter/01shake_parter.aspx</LookFor>
    <SendTo><![CDATA[~/addfunction/01shake_parter/01shake_parter.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/03custompay.aspx</LookFor>
    <SendTo><![CDATA[~/addfunction/03custompay/default.html]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent-(\d+)/multibutton_income_givemoney.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_income_givemoney.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>


  <RewriterRule>
    <LookFor>~/register.aspx</LookFor>
    <SendTo><![CDATA[~/User/register.aspx]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent-(\d+)/register.aspx</LookFor>
    <SendTo><![CDATA[~/User/register.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/addfunction/06coupons/indexlist.aspx</LookFor>
    <SendTo><![CDATA[~/addfunction/06coupons/indexlist.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/addfunction/06coupons/index.aspx</LookFor>
    <SendTo><![CDATA[~/addfunction/06coupons/index.aspx?parentagentid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/op-(\d+)-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/addfunction/07operationgoods/operationproduct.aspx?operationcenterid=$1&operationgoods=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent-(\d+)/op-(\d+)-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/addfunction/07operationgoods/operationproduct.aspx?parentagentid=$1&operationcenterid=$2&operationgoods=$3]]></SendTo>
  </RewriterRule>

  <!--代理商的优先级高 代理商的优先级高代理商的优先级高代理商的优先级高代理商的优先级高代理商的优先级高代理商的优先级高代理商的优先级高-->



  <RewriterRule>
    <LookFor>~/sagent.(\d+)/product-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/product.aspx?parentagentadid=$1&goodid=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/product.aspx</LookFor>
    <SendTo><![CDATA[~/product.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/cart.aspx</LookFor>
    <SendTo><![CDATA[~/cart.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/cart_good.aspx</LookFor>
    <SendTo><![CDATA[~/cart_good.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/cart_good2.aspx</LookFor>
    <SendTo><![CDATA[~/cart_good2.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/cart_good3.aspx</LookFor>
    <SendTo><![CDATA[~/cart_good3.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/cart_self.aspx</LookFor>
    <SendTo><![CDATA[~/cart_self.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/paychoice.aspx</LookFor>
    <SendTo><![CDATA[~/paychoice.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_showmoneydata.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_showmoneydata.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_showtotalwealthdata.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_showtotalwealthdata.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_operatecenter_order.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_operatecenter_order.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_showyunyinzhongxinorderdata.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_showyunyinzhongxinorderdata.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_yunyinzhongxinallmember.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_yunyinzhongxinallmember.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_allmymember.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_allmymember.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_showyunyinzhongxintotalcreditsdata.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_showyunyinzhongxintotalcreditsdata.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_comments.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_comments.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_customer.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_customer.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multiButton_agent.aspx</LookFor>
    <SendTo><![CDATA[~/multiButton_agent.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_income_drawmoney.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_income_drawmoney.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_askmodify_parent.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_askmodify_parent.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_askmodify_parent.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_askmodify_parent.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_income_drawmoney_shareredmoney.aspx</LookFor>
    <SendTo><![CDATA[~/midsm.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_income_drawmoney_shareredmoney_shareFriend.aspx</LookFor>
    <SendTo><![CDATA[~/midsmf.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/midsm.aspx</LookFor>
    <SendTo><![CDATA[~/midsm.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/midsmf-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/midsmf.aspx?parentagentadid=$1&thisshowid=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/midsmf.aspx</LookFor>
    <SendTo><![CDATA[~/midsmf.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/midsmf-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/midsmf.aspx?thisshowid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_showmoney_vouchers.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_showmoney_vouchers.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>


  <RewriterRule>
    <LookFor>~/sagent.(\d+)/productclass.aspx</LookFor>
    <SendTo><![CDATA[~/productclass.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/productclass.aspx</LookFor>
    <SendTo><![CDATA[~/productclass.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/ProductClassStyleModel0.aspx</LookFor>
    <SendTo><![CDATA[~/productclassstylemodel0.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/ProductClassStyleModel1.aspx</LookFor>
    <SendTo><![CDATA[~/productclassstylemodel1.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/ProductClassStyleModel2.aspx</LookFor>
    <SendTo><![CDATA[~/productclassstylemodel2.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/ProductClassStyleModel3.aspx</LookFor>
    <SendTo><![CDATA[~/productclassstylemodel3.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/guidepage-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/guidepage.aspx?parentagentadid=$1&guidepageid=$2]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/</LookFor>
    <SendTo><![CDATA[~/default.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/default.aspx</LookFor>
    <SendTo><![CDATA[~/default.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/edityourshopini.aspx</LookFor>
    <SendTo><![CDATA[~/edityourshopini.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/edityourshop_ad.aspx</LookFor>
    <SendTo><![CDATA[~/edityourshop_ad.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/edityourshop.aspx</LookFor>
    <SendTo><![CDATA[~/edityourshop.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/offlineshop.aspx</LookFor>
    <SendTo><![CDATA[~/offlineshop.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/historygoodslist.aspx</LookFor>
    <SendTo><![CDATA[~/historygoodslist.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/mywebuy.aspx</LookFor>
    <SendTo><![CDATA[~/mywebuy.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/commentsmessageme.aspx</LookFor>
    <SendTo><![CDATA[~/commentsmessageme.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_agentad.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_agentad.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
	<RewriterRule>
		<LookFor>~/sagent.(\d+)/poster.aspx</LookFor>
		<SendTo><![CDATA[~/Poster.aspx?parentagentadid=$1]]></SendTo>
	</RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/showagentbookmark.aspx</LookFor>
    <SendTo><![CDATA[~/ShowAgentBookMark.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/cart_good2_o2o_book.aspx</LookFor>
    <SendTo><![CDATA[~/cart_good2_o2o_book.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/huodong/lottery/scratchcard.aspx</LookFor>
    <SendTo><![CDATA[~/huodong/lottery/scratchcard.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/huodong/lottery/wheel.aspx</LookFor>
    <SendTo><![CDATA[~/huodong/lottery/wheel.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/huodong/05olineinfo-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/huodong/05olineinfo.aspx?parentagentadid=$1&onlineid=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/huodong/lightAppcn/d-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/huodong/lightAppcn/d.aspx?parentagentadid=$1&lightappid=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/qureyexp-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/qureyexp.aspx?parentagentadid=$1&queryorderid=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/ProductWeiKanJia-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/productweikanjia.aspx?parentagentadid=$1&kanjiaid=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_gouwuquanchange.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_gouwuquanchange.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/productsearchgoods.aspx</LookFor>
    <SendTo><![CDATA[~/productsearchgoods.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/addfunction/01shake_parter/01shake_parter.aspx</LookFor>
    <SendTo><![CDATA[~/addfunction/01shake_parter/01shake_parter.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/multibutton_income_givemoney.aspx</LookFor>
    <SendTo><![CDATA[~/multibutton_income_givemoney.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/register.aspx</LookFor>
    <SendTo><![CDATA[~/User/register.aspx]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/register.aspx</LookFor>
    <SendTo><![CDATA[~/User/register.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/addfunction/06coupons/indexlist.aspx</LookFor>
    <SendTo><![CDATA[~/addfunction/06coupons/indexlist.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>

  <RewriterRule>
    <LookFor>~/sagent.(\d+)/addfunction/06coupons/index.aspx</LookFor>
    <SendTo><![CDATA[~/addfunction/06coupons/index.aspx?parentagentadid=$1]]></SendTo>
  </RewriterRule>


  <RewriterRule>
    <LookFor>~/op-(\d+)-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/addfunction/07operationgoods/operationproduct.aspx?operationcenterid=$1&operationgoods=$2]]></SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>~/sagent.(\d+)/op-(\d+)-(\d+).aspx</LookFor>
    <SendTo><![CDATA[~/addfunction/07operationgoods/operationproduct.aspx?parentagentadid=$1&operationcenterid=$2&operationgoods=$3]]></SendTo>
  </RewriterRule>
</RewriterConfig>



<!--IIS6.0配置HTTP压缩,提升网站响应速度
IIS6.0配置HTTP压缩的步骤
1.   HTTP压缩概述
HTTP压缩是在Web服务器和浏览器间传输压缩文本内容的方法。HTTP压缩采用通用的压缩算法如gzip等压缩HTML、JavaScript或CSS文件。
2.   HTTP压缩工作原理
Web服务器处理HTTP压缩的工作原理如下：
-   Web服务器接收到浏览器的HTTP请求后，检查浏览器是否支持HTTP压缩；
-   如果浏览器支持HTTP压缩，Web服务器检查请求文件的后缀名；
-   如果请求文件是HTML、CSS等静态文件，Web服务器到压缩缓冲目录中检查是否已经存在请求文件的最新压缩文件；
-   如果请求文件的压缩文件不存在，Web服务器向浏览器返回未压缩的请求文件，并在压缩缓冲目录中存放请求文件的压缩文件；
-   如果请求文件的最新压缩文件已经存在，则直接返回请求文件的压缩文件；
-   如果请求文件是ASPX等动态文件，Web服务器动态压缩内容并返回浏览器，压缩内容不存放到压缩缓存目录中。
3.   IIS   6.0中配置HTTP压缩的步骤
IIS   6.0中配置HTTP压缩的步骤如下：
-   打开Internet信息服务(IIS)管理器，右击"网站"->"属性"，选择"服务"。在"HTTP压缩"框中选中"压缩应用程序文件"和"压缩静态文件"，按需要设置"临时目录"和"临时目录的最大限制"；
-   在Internet信息服务(IIS)管理器，右击"Web服务扩展"->"增加一个新的Web服务扩展..."，在"新建Web服务扩展"框中输入扩展名"HTTP   Compression"，添加"要求的文件"为C:\WINDOWS\system32\inetsrv\gzip.dll，其中Windows系统目录根据您的安装可能有所不同，选中"设置扩展状态为允许"；
-   使用文本编辑器打开C:\Windows\System32\inetsrv\MetaBase.xml(建议先备份),找到Location   ="/LM/W3SVC/Filters/Compression/gzip"，如果需要压缩动态文件，则将HcDoDynamicCompression设置为"TRUE"，并在HcScriptFileExtensions中增加您要压缩的动态文件后缀名，如aspx；如果需要压缩静态文件，则将HcDoStaticCompression和HcDoOnDemandCompression设置为"TRUE"，并在HcFileExtensions中增加您需要压缩的静态文件后缀名，如xml、css等；HcDynamicCompressionLevel和HcOnDemandCompLevel表示需要的压缩率，数字越小压缩率越低；
-   编辑完毕后保存MetaBase.xml文件；如果文件无法保存，则可能IIS正在使用该文件。打开"开始"->"管理工具"->"服务"，停止"IIS   Admin   Service"后，即可保存；
-   最后，重新启动IIS；-->



<!--关于asp.net程序第一次运行速度慢的问题解决办法
以前一直以为asp.net程序第一次运行速度慢的问题是因为第一次运行时需要编译，虽说自己当时心中也有疑问，但是没有深究。

今天查看微软技术文档，发现了这个秘密：

.net程序第一次运行速度慢的问题原因是第一次运行需要验证数字签名。

当程序里面需要调用到一些 Authenticode Signed的.NET Assembly的时候，它需要连接到外网来验证数字证书。当服务器是无法连接到外网时，这个校验证书的过程需要等到timeout之后才会结束。

解决办法：

1、让电脑能连上网

2、禁止证书的验证过程

禁止证书的验证过程：
1、在下面aspnet.config文件中加入下面内容：

32位系统：C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet.config

64位系统：C:\Windows\Microsoft.NET\Framework64\v2.0.50727\aspnet.config

加入内容：

<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <runtime>

    <generatePublisherEvidence enabled="false"/>

  </runtime>

</configuration>
2、对"Network Service"帐号下运行的所有程序禁止证书检查

标签: asp.net
绿色通道： 好文要顶 我 收藏该文与我联系
Tom.汤
 - 5
粉丝 - 11
+加
2
0
(请您对文章做出评价)
« 上一篇：翻译:ASP.NET MVC的概览
» 下一篇：visual studio 2008 xml 编辑 变灰，编辑器失效
posted @ 2011-04-26 12:25 Tom.汤 阅读(945) 评论(1) 编辑 收藏-->




<!--使用 Web网站 创建网站，在“生成->发布”的时候，要将“允许更新此预编译站点”的选项去掉！这样，各种页面就会预编译到DLL文件，而不是原样发布。这样，网站无需再进行更多的预编译，访问速度大大提高也可以对你的网站设计保密。

　　如果不将“允许更新此预编译站点”的选项去掉，只有.cs文件被预编译到DLL文件，而其余的文件类型不会预编译到DLL文件，这样的话，在访问网站时，ASP.net需要先把未编译的部分纠错、编译，让后才回应你的访问，在预编译一遍后，访问将会使用刚才预编译的结果文件，所以，首次访问一个页面，速度可能十分慢，接下来再访问，速度就快了。

　　Web Application创建的网站不具有此功能。-->


<!--把应用程序连接池里性能 空闲超时 的勾去掉就行了-->



<!--你在网上各种论坛上有签名图片吧?
把图片放到你自己的服务器上,,,这样每次显示网页的时候,就会访问你的服务器的
如果看看没效果,就改成aspx,然后由aspx返回图片,这样就一定会触发asp.net了-->
