<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ApplicationCheckName" value="Open_0609" />
    <add key="EggsoftWX.DALFactory" value="EggsoftWX.SQLServerDAL" />
    <add key="SiteUrls" value="~/SiteUrls.config" />
    <add key="dhs@eggsoft.cn" value="admin@eggsoft.cn" />
    <!---//get投诉建议-->
    <add key="SystemEmailForSend" value="18917905147@189.cn#smtp.189.cn#25#18917905147@189.cn#oliver000" />
    <!---//系统发信使用-->
    <!---//get投诉建议-->
    <add key="UpLoadURL" value="http://Test52Upload.eggsoft.cn" />
    <add key="EggsoftWX.DALFactory" value="EggsoftWX.SQLServerDAL" />
    <add key="SiteUrls" value="~/SiteUrls.config" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ClientAdminURL" value="http://testclient.eggsoft.cn" />
    <add key="ServicesURL" value="http://localhost:8014" />
    <add key="WeiXin_Developmebt_URL" value="http://testthirdplatform.eggsoft.cn" />
    <add key="WriteLogUrl" value="http://labtestlog.o2o10000.cn/Api/LogsEveryDay/Write_Log" />

  </appSettings>
	<connectionStrings>
		<!--<add name="Shop.Earth17.Com_ConnectionString"  connectionString="Data Source=127.0.0.1;Initial Catalog=Shop.Earh17.com;User ID=sa;Password=000257;Persist Security Info=True;Persist Security Info=True;;Enlist=true;Pooling=true;Max Pool Size = 300; Min Pool Size=0; Connection Lifetime = 300;packet size=1000;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="Shop.Earth17.Com_ConnectionString" connectionString="Data Source=120.24.81.198,1433;Initial Catalog=Shop.Earh17.comTest;Persist Security Info=True;User ID=sa;Password=saoliver000;Enlist=true;Pooling=true;Max Pool Size = 300; Min Pool Size=0; Connection Lifetime = 300;packet size=1000;" providerName="System.Data.SqlClient" />-->
		<!--<add name="Shop.Earth17.Com_ConnectionString"  connectionString="Data Source=120.24.81.198,1433,;Initial Catalog=Shop.Earh17.com;Persist Security Info=True;User ID=sa;Password=saoliver000;Enlist=true;Pooling=true;Max Pool Size = 300; Min Pool Size=0; Connection Lifetime = 300;packet size=1000;" providerName="System.Data.SqlClient"/>-->
		<add name="Shop.Earth17.Com_ConnectionString" connectionString="Data Source=219.235.0.112,1433;Initial Catalog=Shop.Earh17.comProduct;Persist Security Info=True;User ID=ShopEarh17;Password=ShopEarh17com2wsx;Enlist=true;Pooling=true;Max Pool Size = 700; Min Pool Size=30; Connection Lifetime = 300;packet size=1000;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <!--<httpModules>
      <add name="MyHttpModule" type="UrlRewriting.MyHttpModule,UrlRewriting"/>
    </httpModules>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" fileEncoding="gb2312" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <modules>
      <add name="MyHttpModule" type="UrlRewriting.MyHttpModule,UrlRewriting" />
    </modules>
    <!--<handlers>
      <add name="MyHandler" path="*.myh" verb="GET" type="MyApp.MyHandler" preCondition="integratedMode" />
    </handlers>-->
    <!--<validation validateIntegratedModeConfiguration="false" />-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {DBF27734-EEEB-4F1C-A8DD-071F4499F8BC}-->