@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'templateFont';
    src: url("./fonts/font-mobile-template.ttf") format('truetype'), url("./fonts/font-mobile-template.woff") format('woff'), url("./font/font-mobile-template.eot");
}
/**----------------font-icon----------------**/
.font-icon {
    display: inline-block;
    width: auto;
    height: auto;
    background: none;
    vertical-align: middle;
    font-family: "templateFont";
    font-style: normal;
}

.font-icon-cart:before {
    content: "\0021";
}

.font-icon-edit:before {
    content: "\0022";
}

.font-icon-del:before {
    content: "\0023";
}

.font-icon-th:before {
    content: "\0024";
}

.font-icon-clock:before {
    content: "\0025";
}

.font-icon-heart:before {
    content: "\0026";
}

.font-icon-tags:before {
    content: "\0027";
}

.font-icon-horn:before {
    content: "\0028";
}

.font-icon-close:before {
    content: "\0029";
}

.font-icon-left:before {
    content: "\002A";
}

.font-icon-right:before {
    content: "\002B";
}

.font-icon-home:before {
    content: "\0055";
}

.font-icon-cart:before {
    content: "\0056";
}

.font-icon-back:before {
    content: "\0057";
}

.font-icon-oliversearch:before {
    content: "\0058";
}



/**----------------search-form----------------**/
.oliversearch-bar {
    padding: 10px !important;
    background: #fff;
}

    .oliversearch-bar .oliversearch-inner {
        position: relative;
        overflow: hidden;
    }

        .oliversearch-bar .oliversearch-inner .font-icon-oliversearch {
            position: absolute;
            left: 5px;
            top: 2px;
            z-index: 2;
            line-height: 35px;
            font-size: 35px;
            color: #ccc;
        }

        .oliversearch-bar .oliversearch-inner .oliversearch-input {
            float: left;
            left: 0;
            width: 100%;
            padding: 10px 10px 10px 28px;
            margin-bottom: 0;
            height: 37px;
            line-height: 37px;
            border-radius: 3px;
            background-color: white;
            border: 1px solid #cccccc;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            -webkit-appearance: none;
            color: rgba(0, 0, 0, 0.75);
            display: block;
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
        }

            .oliversearch-bar .oliversearch-inner .oliversearch-input:focus {
                background: #fafafa;
                border-color: #999999;
                box-shadow: 0 0 5px #999999;
                outline: none;
            }

    .oliversearch-bar .oliversearch-btn {
        display: none;
        float: right;
        width: 18%;
        height: 37px;
        line-height: 35px;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: inset 0 0 4px rgba(0,0,0,.2);
        font-size: 14px;
        color: #333;
        outline: none;
    }

        .oliversearch-bar .oliversearch-btn:hover {
            background: #fff;
            color: #333;
        }

        .oliversearch-bar .oliversearch-btn:active {
            background: #ccc;
        }

        .oliversearch-bar .oliversearch-btn:link {
            background: #fff;
        }

        .oliversearch-bar .oliversearch-btn:visited {
            background: #fff;
        }

    .oliversearch-bar .oliversearch-class {
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .oliversearch-bar .oliversearch-class-ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border-top: 1px solid #e1e1e1;
    }

    .oliversearch-bar .oliversearch-class-a {
        display: block;
        padding: 12px 10px;
        color: #666;
        border-bottom: 1px solid #e1e1e1;
    }

        .oliversearch-bar .oliversearch-class-a:active {
            background: #e1e1e1;
        }

        .oliversearch-bar .oliversearch-class-a .icon-arrow {
            float: right;
            margin-top: 8px;
            width: 6px;
            height: 11px;
        }
