html
{
    font-size: 1em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
}
body
{
    font-size: 0.75em;
}
label
{
    cursor: pointer;
}
a:link
{
    text-decoration: none;
}
a:visited
{
    text-decoration: none;
}
input
{
}
button
{
}
select
{
}
textarea
{
}
textarea
{
    resize: none;
}
a
{
    margin: 0px;
    padding: 0px;
}
abbr
{
    margin: 0px;
    padding: 0px;
}
acronym
{
    margin: 0px;
    padding: 0px;
}
address
{
    margin: 0px;
    padding: 0px;
}
applet
{
    margin: 0px;
    padding: 0px;
}
article
{
    margin: 0px;
    padding: 0px;
}
aside
{
    margin: 0px;
    padding: 0px;
}
audio
{
    margin: 0px;
    padding: 0px;
}
b
{
    margin: 0px;
    padding: 0px;
}
blockquote
{
    margin: 0px;
    padding: 0px;
}
big
{
    margin: 0px;
    padding: 0px;
}
body
{
    margin: 0px;
    padding: 0px;
}
center
{
    margin: 0px;
    padding: 0px;
}
canvas
{
    margin: 0px;
    padding: 0px;
}
caption
{
    margin: 0px;
    padding: 0px;
}
cite
{
    margin: 0px;
    padding: 0px;
}
code
{
    margin: 0px;
    padding: 0px;
}
command
{
    margin: 0px;
    padding: 0px;
}
datalist
{
    margin: 0px;
    padding: 0px;
}
dd
{
    margin: 0px;
    padding: 0px;
}
del
{
    margin: 0px;
    padding: 0px;
}
details
{
    margin: 0px;
    padding: 0px;
}
dfn
{
    margin: 0px;
    padding: 0px;
}
dl
{
    margin: 0px;
    padding: 0px;
}
div
{
    margin: 0px;
    padding: 0px;
}
dt
{
    margin: 0px;
    padding: 0px;
}
em
{
    margin: 0px;
    padding: 0px;
}
embed
{
    margin: 0px;
    padding: 0px;
}
fieldset
{
    margin: 0px;
    padding: 0px;
}
figcaption
{
    margin: 0px;
    padding: 0px;
}
figure
{
    margin: 0px;
    padding: 0px;
}
font
{
    margin: 0px;
    padding: 0px;
}
footer
{
    margin: 0px;
    padding: 0px;
}
form
{
    margin: 0px;
    padding: 0px;
}
h1
{
    margin: 0px;
    padding: 0px;
}
h2
{
    margin: 0px;
    padding: 0px;
}
h3
{
    margin: 0px;
    padding: 0px;
}
h4
{
    margin: 0px;
    padding: 0px;
}
h5
{
    margin: 0px;
    padding: 0px;
}
h6
{
    margin: 0px;
    padding: 0px;
}
header
{
    margin: 0px;
    padding: 0px;
}
hgroup
{
    margin: 0px;
    padding: 0px;
}
html
{
    margin: 0px;
    padding: 0px;
}
i
{
    margin: 0px;
    padding: 0px;
}
iframe
{
    margin: 0px;
    padding: 0px;
}
img
{
    margin: 0px;
    padding: 0px;
}
ins
{
    margin: 0px;
    padding: 0px;
}
kbd
{
    margin: 0px;
    padding: 0px;
}
keygen
{
    margin: 0px;
    padding: 0px;
}
label
{
    margin: 0px;
    padding: 0px;
}
legend
{
    margin: 0px;
    padding: 0px;
}
li
{
    margin: 0px;
    padding: 0px;
}
meter
{
    margin: 0px;
    padding: 0px;
}
nav
{
    margin: 0px;
    padding: 0px;
}
menu
{
    margin: 0px;
    padding: 0px;
}
object
{
    margin: 0px;
    padding: 0px;
}
ol
{
    margin: 0px;
    padding: 0px;
}
output
{
    margin: 0px;
    padding: 0px;
}
p
{
    margin: 0px;
    padding: 0px;
}
pre
{
    margin: 0px;
    padding: 0px;
}
progress
{
    margin: 0px;
    padding: 0px;
}



q {
	margin: 0px; padding: 0px;
}
s {
	margin: 0px; padding: 0px;
}
samp {
	margin: 0px; padding: 0px;
}
section {
	margin: 0px; padding: 0px;
}
small {
	margin: 0px; padding: 0px;
}
span {
	margin: 0px; padding: 0px;
}
source {
	margin: 0px; padding: 0px;
}
strike {
	margin: 0px; padding: 0px;
}
strong {
	margin: 0px; padding: 0px;
}
sub {
	margin: 0px; padding: 0px;
}
sup {
	margin: 0px; padding: 0px;
}
table {
	margin: 0px; padding: 0px;
}
tbody {
	margin: 0px; padding: 0px;
}
tfoot {
	margin: 0px; padding: 0px;
}
thead {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
tr {
	margin: 0px; padding: 0px;
}
tdvideo {
	margin: 0px; padding: 0px;
}
tt {
	margin: 0px; padding: 0px;
}
u {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
var {
	margin: 0px; padding: 0px;
}
article {
	display: block;
}
aside {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
figure {
	display: block;
}
figcaption {
	display: block;
}
h1 {
	font-size: 1em;
}
h2 {
	font-size: 1em;
}
h3 {
	font-size: 1em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 1em;
}
th {
	font-size: 1em;
}
td {
	font-size: 1em;
}
table {
	font-size: 1em;
}
input {
	font-size: 1em;
}
button {
	font-size: 1em;
}
select {
	font-size: 1em;
}
textarea {
	font-size: 1em;
}
sub {
	font-size: 1em;
}
body {
	font-family: Arial, sans-serif;
}
input {
	font-family: Arial, sans-serif;
}
button {
	font-family: Arial, sans-serif;
}
select {
	font-family: Arial, sans-serif;
}
textarea {
	font-family: Arial, sans-serif;
}
sub {
	font-family: Arial, sans-serif;
}
em {
	font-style: normal;
}
cite {
	font-style: normal;
}
address {
	font-style: normal;
}
optgroup {
	font-style: normal;
}
kbd {
	font-family: monospace;
}
samp {
	font-family: monospace;
}
code {
	font-family: monospace;
}
img {
	vertical-align: middle;
}
input {
	vertical-align: middle;
}
button {
	vertical-align: middle;
}
select {
	vertical-align: middle;
}
textarea {
	vertical-align: middle;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
img {
	border: 0px currentColor;
}
fieldset {
	border: 0px currentColor;
}
abbr {
	border-bottom-color: black; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
acronym {
	border-bottom-color: black; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
table {
	border: 0px currentColor; width: 100%; border-spacing: 0;
}
table th {
	border: 0px currentColor;
}
table td {
	border: 0px currentColor;
}
legend {
	left: 0px; top: 0px; overflow: hidden; position: absolute;
}
hr {
	left: 0px; top: 0px; overflow: hidden; position: absolute;
}
legend {
	width: 0px; height: 0px; line-height: 0; font-size: 0px; visibility: hidden;
}
hr {
	width: 0px; height: 0px; line-height: 0; font-size: 0px; visibility: hidden;
}
caption {
	width: 0px; height: 0px; line-height: 0; font-size: 0px; visibility: hidden;
}
html {
	width: 100%; height: 100%;
}
body {
	background: rgb(255, 255, 255); margin: 0px auto; width: 640px; font-family: "微软雅黑";
}
.css_sprite01 {
	background: url("/Huodong/LightAppCN/sprite01.png") no-repeat;
}
.f-fl {
	float: left;
}
.f-fr {
	float: right;
}
.f-imgW01 {
	max-width: 640px;
}
.f-imgW02 {
	max-width: 320px;
}
.f-tit01 {
	height: 96px; text-align: center; color: rgb(14, 14, 14); line-height: 96px; font-size: 38px;
}
.f-txt01 {
	color: rgb(100, 100, 100); line-height: 130%; font-size: 24px;
}
.f-tid {
	text-indent: 2em;
}
.u-ipnut-198 {
	width: 198px;
}
.u-ipnut-540 {
	width: 510px;
}
.u-ipnut-540 {
	width: 510px;
}
.u-word {
	text-align: center; color: rgb(14, 14, 14); font-size: 36px;
}
.s-col01 {
	color: rgb(255, 174, 1);
}
.s-col02 {
	color: rgb(89, 125, 154);
}
.s-col03 {
	color: rgb(35, 196, 229);
}
.m-txt .expand {
	background-position: -120px 0px;
}
.m-page6 .m-map .tit p a span {
	background-position: 0px -61px;
}
.m-page6 .m-intro .btn .time a span {
	background-position: -42px -61px;
}
.m-page6 .m-intro .btn .tel a span {
	background-position: -84px -61px;
}
.share_icon {
	background-position: -126px -61px;
}
.close_map {
	background-position: -168px -61px;
}
.audio_open {
	background-position: -60px 0px;
}
.audio_close {
	
}
.fn-audio {
	top: 45px; width: 60px; height: 61px; text-align: center; right: 35px; line-height: 120px; position: fixed; z-index: 2000;
}
.fn-audio .btn p {
	width: 60px; height: 61px;
}
.fn-audio .btn p span {
	width: 60px; height: 61px; display: none;
}
.fn-audio .btn p span:first-child {
	display: inline-block;
}
.fn-audio .btn audio {
	width: 0px; height: 0px; opacity: 0;
}
.audio_txt {
	top: 59px; height: 60px; right: 90px; overflow: hidden; position: fixed; z-index: 2000; opacity: 1; -webkit-transition: opacity 1s; -moz-transition: opacity 1s; transition: opacity 1s; -ms-transition: opacity 1s;
}
.audio_txt p {
	background: rgba(93, 143, 176, 0.5); color: rgb(255, 255, 255); font-size: 16px; font-weight: bold; float: left;
}
.audio_txt p:first-child {
	padding: 0px 10px; height: 40px; line-height: 40px; border-top-left-radius: 10px; border-bottom-left-radius: 10px;
}
.audio_txt p:last-child 
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: transparent transparent transparent rgba(93, 143, 176, 0.5);
    border-style: solid;
    border-width: 20px;
}
.close.audio_txt {
	opacity: 0;
}
.u-arrow2 { position: fixed; bottom: 30px; left:50%; z-index: 150; width: 80px; height: 80px; margin-left: -40px; /*background: rgba(160,160,160,0.6); border-radius: 50%;*/ }
.u-arrow2 img  
{
    position: absolute; top: 50%; left: 50%; margin: -14px 0 0 -25px; width: 50px; height: 28px; background-position: 0 -82px;
	-webkit-animation: start 1.5s infinite ease-in-out;
	   -moz-animation: start 1.5s infinite ease-in-out;
	        animation: start 1.5s infinite ease-in-out;
}


.lastPage_u-arrow2  
{
    animation-name: myfirst;
animation-duration: 5s;
animation-timing-function: linear;
animation-delay: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-play-state: running;
/* Safari and Chrome: */
-webkit-animation-name: myfirst;
-webkit-animation-duration: 5s;
-webkit-animation-timing-function: linear;
-webkit-animation-delay: 2s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
-webkit-animation-play-state: running;

    position: fixed; bottom: 60px; right:10px;z-index: 9951; height: 80px;  
    /*background: rgba(160,160,160,0.6); border-radius: 50%;*/ 
    }


@keyframes myfirst
{
from {right: 0px;}
to {right: 30px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {right: 0px;}
to {right: 30px;}
}


.lastPage_u-arrow2 .orange 
{
   
    
    
    background: -moz-linear-gradient(center top , #faa51a, #f47a20) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(bottom, #faa51a 0%, #f47a20 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #faa51a),color-stop(1, #f47a20)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    
  /*
    
    
    -webkit-animation: start 2.5s infinite ease-in-out;
	   -moz-animation: start 2.5s infinite ease-in-out;
	        animation: start 2.5s infinite ease-in-out;
 */
    border: 1px solid #da7c0c;
    color: #fef4e9;
}
.lastPage_u-arrow2 .button {
    border-radius: 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    font: 34px/100% Arial,Helvetica,sans-serif;
    margin: 0 2px;
    outline: medium none;
    padding: 0.5em 0.5em 0.55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}



/*箭头指示引导*/
@-webkit-keyframes start {
	0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
	60% {opacity: 1;-webkit-transform: translate(0,0);}
	100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}
@-moz-keyframes start {
	0%,30% {opacity: 0;-moz-transform: translate(0,10px);}
	60% {opacity: 1;-moz-transform: translate(0,0);}
	100% {opacity: 0;-moz-transform: translate(0,-8px);}
}
@keyframes start {
	0%,30% {opacity: 0;transform: translate(0,10px);}
	60% {opacity: 1;transform: translate(0,0);}
	100% {opacity: 0;transform: translate(0,-8px);}
}

.p-index {
     	width: 100%; height: 100%; overflow: hidden; position: relative;
}
.portrait .p-index {
	margin-top: -44%; -webkit-transform: scale(0.4);
}
.m-page {
	background: rgb(255, 255, 255); left: 0px; top: 0%; width: 100%; height: 100%; position: absolute;
}
.show.m-page {
	display: block; z-index: 10;
}
.hide.m-page {
	display: none; z-index: 5;
}
.active.m-page {
	display: block; z-index: 15;
}
.m-img {
	width: 100%; height: 100%;
}
.m-txt {
	position: absolute; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; -ms-transition: all 0.4s; -o-transition: all 0.4s;
}
.m-txt h2 {
	color: rgb(255, 204, 0); font-size: 38px; margin-bottom: 16px;
}
.m-txt h3 {
	color: rgb(255, 204, 0); font-size: 26px; margin-bottom: 8px;
}
.m-txt p {
	color: rgb(255, 255, 255); line-height: 140%; padding-left: 1.5%; font-size: 24px; margin-bottom: 18px; word-break: break-all;
}
.m-txt p:last-child {
	margin-bottom: 0px;
}
.m-txt .expand {
	width: 12px; height: 12px; right: 0px; bottom: 0px; display: block; position: absolute;
}
.open.m-txt .expand {
	display: none;
}
.hide_poniter.m-txt .expand {
	display: none;
}
.m-page2 .m-txt01 {
	background: rgba(0, 0, 0, 0.5); padding: 20px 10px; left: 30px; top: 30px; width: 440px; height: 280px; overflow: hidden;
}
.m-page2 .m-txt01 .wtxt {
	width: 100%; height: 100%; overflow: hidden;
}
.m-page2 .open.m-txt01 {
	width: 560px;
}
.m-blank {
	width: 100%; text-align: center; bottom: 150px; position: absolute;
}
.m-blank a {
	width: 100%; height: 100px; margin-top: 30px; display: inline-block;
}
.m-blank a img {
	max-height: 100%; max-width: 100%;
}
.m-blank-animate {
	background: rgba(0, 0, 0, 0.8); margin: -100px 0px 0px -200px; border-radius: 10px; left: 50%; top: 50%; width: 400px; height: 200px; text-align: center; line-height: 200px; display: none; position: absolute;
}
.m-blank-animate span {
	vertical-align: middle; display: inline-block;
}
.m-blank-animate strong {
	vertical-align: middle; display: inline-block;
}
.m-blank-animate strong {
	color: rgb(255, 255, 255); font-size: 26px; margin-left: 20px;
}
.m-blank-animate span {
	border-radius: 100%; width: 30px; height: 30px; background-color: rgb(255, 255, 255);
}
.move.m-blank-animate span {
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out; animation: bouncedelay 1.4s infinite ease-in-out; moz-animation: bouncedelay 1.4s infinite ease-in-out; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; animation-fill-mode: both;
}
.m-blank-animate span:nth-child(1) {
	-webkit-animation-delay: -0.32s; animation-delay: -0.32s;
}
.m-blank-animate span:nth-child(2) {
	-webkit-animation-delay: -0.16s; animation-delay: -0.16s;
}
.m-page3 .plate {
	width: 100%; height: 50% !important; position: relative;
}
.m-page3 .plate .m-txt {
	background: rgba(0, 0, 0, 0.5); padding: 5px; top: 2%; width: 265px; height: 175px; overflow: hidden; position: absolute;
}
.m-page3 .plate .m-txt .wtxt {
	width: 100%; height: 100%; overflow: hidden;
}
.m-page3 .plate .open.m-txt {
	width: 630px;
}
.m-page3 :first-child.plate {
	margin-bottom: 1%;
}
.m-page3 .plate01 .m-txt {
	left: 0px;
}
.m-page3 .plate02 .m-txt {
	right: 0px;
}
.m-page4 .m-img {
	width: 100%; height: 100%;
}
.m-page4 .m-img img {
	width: 100%; height: 100%;
}
.m-page4 .m-exhibit {
	left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; position: absolute;
}
.m-page4 .m-exhibit .imgbox {
	width: 100%; height: 100%; position: relative;
}
.m-page4 .m-exhibit .imgbox .boxWrap {
	width: 0px; height: 100%; vertical-align: middle; display: inline-block;
}
.m-page4 .m-exhibit .imgbox img {
	width: 99%; height: auto; text-align: center; vertical-align: middle;
}
.m-page5 .m-video {
	background: rgb(0, 0, 0); padding: 45px 0px; width: 100%; height: 420px; position: relative;
}
.m-page5 .m-video .video-warp {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 999999; opacity: 0;
}
.m-page5 .m-txt03 {
	background: rgba(0, 0, 0, 0.5); padding: 15px 10px; width: 620px; height: 46%; overflow: hidden;
}
.m-page5 .m-txt03 .wtxt {
	width: 590px; height: 170px; overflow: hidden;
}
.m-page6 .m-map {
	background: rgb(255, 255, 255); width: 100%; height: 280px; position: relative; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; -ms-transition: all 0.4s; -o-transition: all 0.4s;
}
.m-page6 .m-map .ylMap {
	width: 100%; height: 100%;
}
.m-page6 .m-map .tit {
	background: rgba(0, 0, 0, 0.5); left: 0px; width: 100%; height: 70px; bottom: 0px; overflow: hidden; position: absolute;
}
.m-page6 .m-map .tit p {
	margin-right: 100px;
}
.m-page6 .m-map .tit p a {
	height: 70px; color: rgb(255, 255, 255); line-height: 70px; padding-left: 70px; font-size: 24px; display: block; position: relative;
}
.m-page6 .m-map .tit p a span {
	left: 15px; top: 14px; width: 42px; height: 42px; display: inline-block; position: absolute;
}
.m-page6 .m-map .tit .close_map {
	width: 42px; height: 42px; right: 10px; bottom: 10px; display: none; position: absolute;
}
.m-page6 .u-img {
	width: 640px; height: 140px;
}
.imgSlider {
	width: 640px; height: 100%;
}
.m-page6 .m-intro {
	position: relative;
}
.m-page6 .m-intro h3 {
	height: 100px; text-align: center; line-height: 100px; font-size: 30px;
}
.m-page6 .m-intro .txt {
	background: rgba(0, 0, 0, 0.5); padding: 10px; left: 30px; top: 100px; width: 560px; height: 50px; overflow: hidden;
}
.m-page6 .m-intro .txt .wtxt {
	width: 100%; height: 100%; overflow: hidden;
}
.m-page6 .m-intro .open.txt {
	height: 160px;
}
.m-page6 .m-intro .btn {
	margin-top: 115px;
}
.m-page6 .m-intro .btn p {
	margin: 0px auto 40px; border-radius: 8px; width: 580px; height: 80px;
}
.m-page6 .m-intro .btn p:last-child {
	margin-bottom: 60px;
}
.m-page6 .m-intro .btn p a {
	height: 80px; text-align: center; line-height: 80px; font-size: 34px; display: block; position: relative;
}
.m-page6 .m-intro .btn p a span {
	left: 40px; top: 19px; width: 42px; height: 42px; display: inline-block; position: absolute;
}
.m-page6 .m-intro .btn .time {
	background: rgb(240, 240, 240);
}
.m-page6 .m-intro .btn .tel {
	background: rgb(115, 186, 93);
}
.m-page6 .m-intro .btn .time a {
	color: rgb(113, 113, 113);
}
.m-page6 .m-intro .btn .tel a {
	color: rgb(255, 255, 255);
}
.m-page7 .wbg {
	width: 100%; height: 100%; opacity: 0.9;
}
.m-page7 .wbg img {
	width: 100%; height: 100%;
}
.m-page7 .wct {
	padding: 0px 20px; left: 0px; top: 0px; width: 600px; height: 100%; overflow: hidden; position: absolute;
}
.m-page7 .wct h3 {
	text-align: center; color: rgb(255, 255, 255); letter-spacing: 8px; padding-top: 26px; font-size: 40px; margin-bottom: 50px; text-shadow: 6px -4px 12px #666;
}
.m-page7 .wct table {
	background: rgb(255, 255, 255); border-radius: 10px; border: 2px solid rgb(196, 196, 196);
}
.m-page7 .wct table tbody td {
	padding: 13px 0px; height: 54px; overflow: hidden; font-size: 28px; border-bottom-color: rgb(196, 196, 196); border-bottom-width: 2px; border-bottom-style: solid;
}
.m-page7 .wct table tbody th {
	padding: 13px 0px; height: 54px; overflow: hidden; font-size: 28px; border-bottom-color: rgb(196, 196, 196); border-bottom-width: 2px; border-bottom-style: solid;
}
.m-page7 .wct table tbody th {
	color: rgb(113, 113, 113); font-weight: normal;
}
.m-page7 .wct table tbody th span {
	width: 100%; letter-spacing: 8px; border-right-color: rgb(196, 196, 196); border-right-width: 2px; border-right-style: solid; display: block;
}
.m-page7 .wct table tbody td {
	padding-left: 20px;
}
.m-page7 .wct table tbody td input {
	border: currentColor; width: 350px; height: 50px;
}
.m-page7 .wct table tbody td.time input {
	width: 30%;
}
.m-page7 .wct table tbody td p.sex {
	height: 40px; overflow: hidden; font-size: 26px; float: left; display: block; cursor: pointer;
}
.m-page7 .wct table tbody td p.sex span {
	float: left; display: block;
}
.m-page7 .wct table tbody td p.sex .select {
	background: rgb(241, 244, 244); margin: 7px 15px 0px 0px; padding: 4px 0px 0px 4px; border-radius: 50%; border: 1px solid rgb(190, 247, 249); width: 18px; height: 18px;
}
.m-page7 .wct table tbody td p.sex .select strong.on {
	background: rgb(46, 240, 247); border-radius: 50%; width: 14px; height: 14px; display: block;
}
.m-page7 .wct table tbody td p:first-child.sex {
	margin-right: 40px;
}
.m-page7 .wct table tbody td p.student {
	height: 40px; overflow: hidden; font-size: 26px; float: left; display: block; cursor: pointer;
}
.m-page7 .wct table tbody td p.student span {
	float: left; display: block;
}
.m-page7 .wct table tbody td p.student .select {
	background: rgb(241, 244, 244); margin: 7px 15px 0px 0px; padding: 4px 0px 0px 4px; border-radius: 50%; border: 1px solid rgb(190, 247, 249); width: 18px; height: 18px;
}
.m-page7 .wct table tbody td p.student .select strong.on {
	background: rgb(46, 240, 247); border-radius: 50%; width: 14px; height: 14px; display: block;
}
.m-page7 .wct table tbody td p:first-child.student {
	margin-right: 40px;
}
.m-page7 .wct table tbody td.time input:first-child {
	width: 50%; margin-right: 5px;
}
.m-page7 .wct table tbody tr:last-child td {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.m-page7 .wct table tbody tr:last-child th {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.m-page7 .wct .submit {
	background: rgb(115, 186, 93); margin: 45px auto; border-radius: 8px; width: 600px; height: 80px; text-align: center; line-height: 80px; letter-spacing: 12px; font-size: 30px;
}
.m-page7 .wct .submit input {
	border: currentColor; width: 100%; height: 100%; text-align: center; color: rgb(255, 255, 255); font-weight: bold; cursor: pointer;
}
.m-page7 .wct .popup {
	padding: 30px 10px; border-radius: 8px; left: 60px; top: 50%; width: 520px; text-align: center; font-size: 26px; margin-top: -40px; position: fixed; z-index: -1; opacity: 0; -webkit-transition: all 1.2s; -moz-transition: all 1.2s; transition: all 1.2s; -ms-transition: all 1.2s; -o-transition: all 1.2s;
}
.m-page7 .wct .popup_error.popup {
	background: rgb(244, 136, 19);
}
.m-page7 .wct .popup_sucess.popup {
	background: rgba(0, 0, 0, 0.7); color: rgb(255, 255, 255);
}
.m-page7 .wct .on.popup {
	z-index: 99; opacity: 1;
}
.m-page7 .wct .edit-more-info {
	background: rgb(255, 255, 255); border-radius: 8px; border: 2px solid rgb(153, 153, 153); height: 70px; text-align: center; color: rgb(0, 0, 0); line-height: 70px; font-size: 28px; margin-top: 20px;
}
.m-page7 .wct .share {
	margin: 0px auto; width: 600px; height: 80px;
}
.share-content {
	position: fixed;
}
.m-page7 .wct .share a {
	background: rgb(255, 255, 255); border-radius: 8px; width: 100%; height: 80px; text-align: center; color: rgb(84, 84, 84); line-height: 80px; letter-spacing: 20px; font-size: 30px; font-weight: bold; display: block;
}
.m-page7 .wct .share .share_icon {
	width: 42px; height: 42px; vertical-align: middle; display: inline-block;
}
.m-page7 .popup-txt {
	padding: 40px 0px; left: 0px; width: 100%; text-align: center; bottom: -100%; color: rgb(226, 63, 6); font-size: 26px; font-weight: bold; position: absolute; opacity: 0;
}
.m-page7 .txtHide.popup-txt {
	-webkit-animation: txtHide 4s; -moz-animation: txtHide 4s; animation: txtHide 4s; -o-animation: txtHide 4s;
}
.m-page7 .wct .wct_form {
	width: 1280px; height: 100%; overflow: hidden; -webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s; -ms-transition: all 1s; -o-transition: all 1s;
}
.m-page7 .wct .tableWrap {
	width: 600px; float: left;
}
.m-page7 .wct .tableWrap-1 {
	margin-right: 20px;
}
.m-page7 .wct .tableWrap-2 {
	margin-left: 20px;
}
.m-page7 .wct .change.wct_form {
	margin-left: -640px;
}
.m-page7 .wct .tableWrap-2 .submit-2 {
	width: 220px; margin-left: 45px; display: inline-block;
}
.m-page7 .wct .tableWrap-2 .submit-3 {
	background: rgb(250, 41, 41); width: 220px; margin-left: 45px; display: inline-block;
}
.loading {
	margin: 0px auto; left: 0px; top: 38%; width: 600px; display: none; position: fixed;
}
.loading img {
	width: 60px; height: 60px; text-align: center; margin-left: 48%;
}
.share-content {
	background: rgba(0, 0, 0, 0.7); left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; z-index: -1; opacity: 0;
}
.m-spopup {
	margin: 80% auto 0px; border-radius: 8px; width: 84%; text-align: center; opacity: 0; -ms-transform: scale(0.2); -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; -ms-transition: all 0.4s; -webkit-transform: scale(0.2); -o-transition: all 0.4s; -moz-transform: scale(0.2); -o-transform: scale(0.2); transform: scale(0.2);
}
.open.share-content {
	opacity: 1;
}
.share-content .open.m-spopup {
	opacity: 1; -ms-transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); transform: scale(1);
}
.m-spopup a {
	margin: 0px 12px; color: rgb(255, 255, 255); font-size: 26px; display: inline-block;
}
.m-spopup a img {
	border-radius: 12%; width: 90px; height: 90px;
}
.m-spopup .share-btn {
	background: rgb(255, 255, 255); border-radius: 8px; border: 1px solid rgb(255, 255, 255); color: rgb(0, 0, 0); line-height: 60px; margin-top: 30px; display: block;
}
.pageLoading {
	background: rgba(0, 0, 0, 0.6); left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: fixed; z-index: 99999;
}
.pageLoading img {
	margin: -50px 0px 0px -50px; left: 50%; top: 40%; width: 100px; height: 100px; position: absolute;
}
.open.btn-boder-color {
	box-shadow: none; -webkit-transition: all 0.6s; -moz-transition: all 0.6s; transition: all 0.6s; -webkit-box-shadow: 0 0 8px rgba(241, 68, 40, 0.8), 0 0 8px 2px rgba(241, 68, 40, 0.4) inset; -moz-box-shadow: 0 0 8px rgba(241, 68, 40, 0.8), 0 0 8px 2px rgba(241, 68, 40, 0.4) inset; -ms-transition: all 0.6s; -o-transition: all 0.6s; -ms-box-shadow: 0 0 8px rgba(241, 68, 40, 0.8), 0 0 8px 2px rgba(241, 68, 40, 0.4) inset; -o-box-shadow: 0 0 8px rgba(241, 68, 40, 0.8), 0 0 8px 2px rgba(241, 68, 40, 0.4) inset;
}
.weixin-share {
	background: rgba(0, 0, 0, 0.7); left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: fixed; z-index: 9999;
}
.weixin-share img {
	top: 10px; width: auto; height: auto; right: 50px; position: absolute;
}
.dropdown-menu > li {
	margin: 3px; float: left;
}
.jb_map {
	background: url("/template/10/img/map.png"); top: -280px; width: 640px; height: 280px; position: relative; z-index: 9999;
}
