* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #878787;
}

#GoodInfo_01 {
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    text-overflow: initial;
    white-space: initial;
    overflow: auto;
    background-color: #fff;
    width: 100%;
    overflow-y: hidden;
    vertical-align: middle;
    display: block;
    vertical-align: middle;
    border-bottom: none;
}

    #GoodInfo_01 #GoodName {
        height: 48px;
        position: relative;
        text-align: left;
        font-size: 2.2em;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 50px;
    }

        #GoodInfo_01 #GoodName #GoodName_Center {
            display: inline-block;
            border: 0 inset #f0f0f0;
            line-height: 24px;
            text-align: left;
            vertical-align: middle;
            font-size: .6em;
            word-break: break-all;
            word-wrap: break-word;
        }

    #GoodInfo_01 #GoodErWiema {
        float: right;
        width: 44px;
        height: 44px;
        color: #9B9B9B;
        font-size: 14px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 10px;
    }

#GoodInfo_Price_02 {
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    border-bottom: none;
}

    #GoodInfo_Price_02 ul {
        margin: 0 auto;
        padding-left: 4px;
    }

        #GoodInfo_Price_02 ul li {
            float: left;
            margin-left: 1px;
            margin-right: 1px;
            margin-bottom: 1px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            vertical-align: middle;
        }

            #GoodInfo_Price_02 ul li #PromotePriceWillPay {
                color: #e4272d;
            }

            #GoodInfo_Price_02 ul li #iprice_BaoYou {
                color: white;
                background-color: red;
                font-size: 14px;
            }

            #GoodInfo_Price_02 ul li #delPrice {
                color: #8e8e8e;
                text-decoration: line-through;
            }



#GoodInfo_Price_02_YunFei {
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    border-bottom: none;
}

    #GoodInfo_Price_02_YunFei ul {
        margin: 0 auto;
        padding-left: 4px;
    }

        #GoodInfo_Price_02_YunFei ul li {
            float: left;
            margin-left: 1px;
            margin-right: 1px;
            margin-bottom: 1px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            vertical-align: middle;
        }

            #GoodInfo_Price_02_YunFei ul li #PromotePriceWillPay {
                color: #e4272d;
            }

            #GoodInfo_Price_02_YunFei ul li #iprice_BaoYou {
                color: white;
                background-color: red;
                font-size: 14px;
            }

            #GoodInfo_Price_02_YunFei ul li #delPrice {
                color: #8e8e8e;
                text-decoration: line-through;
            }

#GoodInfo_Count_03 {
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    border-bottom: none;
}

    #GoodInfo_Count_03 ul {
        margin: 0 auto;
        padding-left: 4px;
    }

        #GoodInfo_Count_03 ul li {
            float: left;
            margin-left: 1px;
            margin-right: 1px;
            margin-bottom: 1px;
            height: 40px;
            display: inline-block;
            vertical-align: middle;
        }

#MyBossImage_06 {
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    border-bottom: none;
}

    #MyBossImage_06 ul {
        margin: 0 auto;
        padding-left: 4px;
    }

        #MyBossImage_06 ul li {
            float: left;
            margin-left: 1px;
            margin-right: 1px;
            margin-bottom: 1px;
            line-height: 50px;
            height: 50px;
            display: inline-block;
        }

            #MyBossImage_06 ul li img {
                width: 40px;
                height: 40px;
            }

#HeadImageList_07 {
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    line-height: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    border-bottom: none;
}

    #HeadImageList_07 ul {
        margin: 0 auto;
        padding-left: 4px;
    }

        #HeadImageList_07 ul li {
            float: left;
            margin-left: 1px;
            margin-right: 1px;
            margin-bottom: 1px;
            width: 50;
            height: 50px;
            display: inline-block;
        }

            #HeadImageList_07 ul li img {
                margin-top: 5px;
            }

            #HeadImageList_07 ul li .thisLine_image_User0 {
                text-align: center;
                margin-top: 1px;
                padding-left: 1px;
                padding-right: 1px;
                font-size: 6px;
            }

            #HeadImageList_07 ul li .thisLine_UserName {
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 60px;
                font-size: 4px;
            }

            #HeadImageList_07 ul li img {
                width: 40px;
                height: 40px;
            }

#DistributionMoney_List_From_Good_ID_08 {
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    border-bottom: none;
}

    #DistributionMoney_List_From_Good_ID_08 ul {
        margin: 0 auto;
        padding-left: 4px;
    }

        #DistributionMoney_List_From_Good_ID_08 ul li {
            float: left;
            margin-left: 1px;
            margin-right: 1px;
            margin-bottom: 1px;
            line-height: 50px;
            height: 50px;
            display: inline-block;
        }

            #DistributionMoney_List_From_Good_ID_08 ul li img {
                width: 40px;
                height: 40px;
                margin-top: 5px;
            }

img {
    border: none;
}

.Alinecl {
    clear: both;
    height: 12px;
    line-height: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.cl {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mrig10 {
    margin-right: 10px;
}

    .mrig10 a {
        color: #e9ece8;
        display: inline-block;
        text-shadow: 0 2px 2px #3e6a1a;
        position: inherit;
    }

.bor_r {
    border-right: 1px solid #DBDBDB;
}

body {
    clear: both;
    font-family: '微软雅黑';
    font-size: 14px;
    max-width: 640px;
    margin: 0 auto;
}

#ys_type {
    background: #fff;
}

.ys_typeli {
    clear: both;
    line-height: 40px;
}

.ys_tlt {
    height: 45px;
    line-height: 45px;
    border-bottom: #DBDBDB 1px solid;
    color: #4D4D4D;
    font-size: 14px;
    cursor: pointer;
    background: url(images/typ_close.png) no-repeat 98% center;
}

.ys_tlt_YDJ {
    height: 45px;
    line-height: 45px;
    border-bottom: #DBDBDB 1px solid;
    color: #4D4D4D;
    font-size: 14px;
    cursor: pointer;
    background: url(images/typ_close.png) no-repeat 98% center;
    padding-left: 40px;
}

.tltopen {
    background: url(images/typ_open.png) no-repeat 98% center;
}

.ys_tlt a {
    color: #4D4D4D;
}

.ys_tlt span {
    float: left;
    display: block;
    padding-left: 10px;
    height: 40px;
}

.ys_tlcon_Help {
    background: url(images/ul_bg.gif);
}

    .ys_tlcon_Help li {
        padding-left: 18px;
        float: left;
        font-size: 14px;
        width: 96%;
        height: 40px;
        overflow: hidden;
        margin-left: 20px;
        text-align: left;
        background: url(images/li_bg.gif) no-repeat right;
    }

        .ys_tlcon_Help li a {
            margin-left: 20px;
            color: #666;
        }

.ys_tlcon {
    background: url(images/ul_bg.gif);
}

    .ys_tlcon li {
        float: left;
        font-size: 14px;
        width: 33%;
        height: 40px;
        overflow: hidden;
        text-align: center;
        background: url(images/li_bg.gif) no-repeat right;
    }

    .ys_tlcon .li_rno {
        background: none;
    }

    .ys_tlcon a {
        color: #878787;
    }

        .ys_tlcon a:hover {
            color: #83C525;
        }

.jrtit {
    height: 50px;
    background: #DEE8CF;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

    .jrtit span {
        height: 37px;
        line-height: 35px;
        font-size: 14px;
    }

.jrt_l {
    float: left;
}

.jrt_m {
    float: left;
    margin-left: 24%;
    padding-right: 10px;
    background: url(images/icon.png) no-repeat -40px -20px;
    color: #848685;
}

.jrt_r {
    float: right;
}

.bggreen {
    width: 50px;
    padding-right: 15px;
    text-align: center;
    background: #82C422 url(images/icon.png) no-repeat 50px 10px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    cursor: pointer;
}

    .bggreen a {
        color: #fff;
    }

.ys_jrli li {
    float: left;
    padding: 7px 2%;
    width: 40%;
    margin-left: 3.5%;
    margin-top: 4%;
    line-height: 22px;
    border: 1px solid #DEDEDE;
    position: relative;
    background: #fff;
    text-align: center;
}

.ys_jrli #scroller li {
    float: left;
    padding: 7px 2%;
    width: 40%;
    margin-left: 3.5%;
    margin-top: 4%;
    line-height: 22px;
    border: 1px solid #DEDEDE;
    position: relative;
    background: #fff;
    text-align: center;
}

.ys_jrli li img {
    width: 128px;
    height: 120px;
}

.ys_jrli li .tit {
    display: block;
    position: absolute;
    top: 102px;
    width: 92%;
    height: 25px;
    text-align: center;
    background: #999;
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
}

.tit a {
    color: #fff;
}

del {
    float: left;
    color: #8E8E8E;
    text-decoration: line-through;
}

.gry {
    float: right;
    color: #8E8E8E;
}

.ys_jrli .price {
    float: left;
    font-size: 14px;
    color: #EB4D4C;
}

.ys_zan {
    float: right;
    padding-left: 25px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    background: url(images/iconSayOk.png) no-repeat;
    height: 20px;
    width: 30px;
}

.cl .ys_zan123 {
    float: right;
    padding-left: 25px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    background: url(images/iconSayOk.png) no-repeat;
    height: 20px;
}

.ban {
    text-align: center;
}

    .ban img {
        width: 100%;
    }

#companylist li {
    margin-top: 20px;
    float: left;
    width: 30%;
    height: 114px;
    margin-left: 2.5%;
    display: block;
    text-align: center;
}

    #companylist li a {
        display: block;
        width: 82px;
        height: 82px;
        background: url(images/nopic.png) no-repeat center;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        border-radius: 20px 20px 20px 20px;
    }

    #companylist li img {
        width: 82px;
        height: 82px;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        border-radius: 20px 20px 20px 20px;
    }

    #companylist li .menubtn {
        text-align: center;
    }

#companylist .menutitle {
    width: 72px;
    height: 26px;
    line-height: 26px;
    border-radius: 5px;
    background: rgba(255,255,255,.8);
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin: 5px auto 0;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.spm_type {
    position: relative;
    clear: both;
    display: block;
    height: 240px;
    overflow: hidden;
}

    .spm_type a {
        color: #222;
    }

.spm_t, .spmpic {
    width: 50%;
}

.spmpic {
    position: relative;
}

.spm_type img {
    width: 100%;
    height: 240px;
}

.spm_type .spm_t {
    position: absolute;
    top: 35%;
    width: 50%;
    text-align: center;
}

.spm_t span {
    display: block;
    line-height: 40px;
}

.spm_t .spm_ts {
    font-size: 14px;
}

.spm_t .spm_tp {
    font-size: 14px;
}

.spmpic span {
    position: absolute;
    display: block;
    width: 12px;
    height: 24px;
    background: url(images/jiacolor.png);
}

.imgl .spmpic {
    float: left;
}

.imgl .spm_t {
    left: 50%;
}

.imgr .spmpic {
    float: right;
}

.imgr .spm_t {
    left: 0;
}

.imgl .spmpic span {
    top: 45%;
    right: 0;
}

.imgr .spmpic span {
    top: 45%;
    left: 0;
}

.bgc1 {
    background: #FFCCCB;
}

.bgc2 {
    background: #FFFFCB;
}

.bgc3 {
    background: #9ACC99;
}

.spmpic .sj1l {
    background-position: 0 0;
}

.spmpic .sj1r {
    background-position: -12px 0;
}

.spmpic .sj2l {
    background-position: 0 -24px;
}

.spmpic .sj2r {
    background-position: -12px -24px;
}

.spmpic .sj3l {
    background-position: 0 -48px;
}

.spmpic .sj3r {
    background-position: -12px -48px;
}

#stit {
    height: 55px;
    background: -moz-linear-gradient(center top,#f56368,#e94d52) repeat scroll 0 0 rgba(0,0,0,0);
    padding-left: 10px;
    padding-top: 8px;
}

.slgo {
    float: left;
    text-align: left;
    line-height: 45px;
    text-overflow: ellipsis;
}

    .slgo a {
        color: #fff;
        font-size: 14px;
        text-overflow: ellipsis;
    }

#stit span.sms {
    float: right;
    display: block;
    height: 40px;
    width: 50px;
    text-indent: -9999px;
    right: 40px;
}

#stit .sm1 {
    background: url(images/001.png) no-repeat center;
}

#stit .sm2 {
    background: url(images/002.png) no-repeat center;
}

#stit .sm3 {
    background: url(images/003.png) no-repeat center;
}

#Client_Menu_Nav7264 .w_t_style {
    font-size: 14px;
    line-height: 1.25em;
}

#Client_Menu_Nav7264 .w_c_style {
    font-size: 14px;
    line-height: 1.125em;
}

#slider_nav7264 {
    height: 100%;
    float: left;
    padding: 0;
}

#wrapper_nav7264 {
    position: absolute;
    z-index: 1;
    width: 85%;
    overflow: hidden;
    margin-left: 10px;
}

.Bottom_Nav_index_banner {
    position: relative;
    height: 40px;
    background: #DEE8CF;
    padding-top: 10px;
    font-size: 14px;
}

    .Bottom_Nav_index_banner ul {
        height: 30px;
        line-height: 30px;
        overflow: hidden;
    }

        .Bottom_Nav_index_banner ul li {
            float: left;
            margin-left: 10px;
            line-height: 30px;
            text-align: center;
        }

            .Bottom_Nav_index_banner ul li a {
                padding-left: 10px;
                padding-right: 10px;
            }

                .Bottom_Nav_index_banner ul .ahover a, .Bottom_Nav_index_banner ul li a:hover {
                    display: block;
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 30px;
                    background: #EC9B42;
                    -moz-border-radius: 5px 5px 5px 5px;
                    -webkit-border-radius: 5px 5px 5px 5px;
                    border-radius: 5px 5px 5px 5px;
                    color: #fff;
                }

                .Bottom_Nav_index_banner ul li a .ourhover {
                    font-size: 14px;
                    -webkit-border-radius: 5px;
                    background-color: #fff;
                    color: #00a8e1;
                }

        .Bottom_Nav_index_banner ul .text_a {
            height: 30px;
            -webkit-border-radius: 5px;
            background-color: #fff;
            color: #00a8e1;
        }

.right_arrow_blue {
    top: 18px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #FFF;
    width: 0;
    height: 0;
    cursor: pointer;
    position: absolute;
    z-index: 8888;
    right: 6px;
}

#left_arrow_blue_Board {
    height: 38px;
    background-color: Red;
    width: 20px;
    z-index: 8888;
    float: left;
}

.left_arrow_blue {
    top: 18px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 10px solid #FFF;
    width: 0;
    height: 0;
    cursor: pointer;
    position: absolute;
    z-index: 8888;
    left: 6px;
}

.spro_list {
    text-align: center;
}

    .spro_list li {
        width: 100%;
        margin: 10px auto;
        background: #f1f1f1;
        border: 1px solid #DBDBDB;
        clear: both;
    }

.spro_timg {
    position: relative;
}

.spro_info {
    display: block;
    position: absolute;
    top: 155px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background: #666;
    filter: alpha(opacity=50);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
    color: #fff;
}

.spro_list .spro_t {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background: #FFF;
}

.spro_price {
    font-size: 14px;
    color: #EB4D4C;
}

.spro_tit {
    font-size: 14px;
}

    .spro_tit a {
        color: #3C3C3C;
    }

.his_pro_img img {
    border: 1px solid #dbdbdb;
    float: left;
    margin-left: 4px;
    margin-right: 10px;
    max-height: 100px;
    max-width: 100px;
    padding: 5px;
}

.his_pro_img .PromotePrice {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.his_pro_img .sales {
    color: #8e8e8e;
}

.his_pro_img .ys_zanmy {
    background: url("images/iconSayOk_Small.png") no-repeat scroll 0 0 rgba(0,0,0,0);
    cursor: pointer;
    display: inline-block;
    height: 17px;
    overflow: hidden;
    padding-left: 16px;
    width: 30px;
    font-size: 14px;
    vertical-align: middle;
}

.his_pro_img_search {
    width: 100%;
}

    .his_pro_img_search img {
        float: left;
        border: 1px solid #DBDBDB;
        margin-left: 4px;
        padding: 5px;
        max-height: 100px;
        max-width: 100px;
        margin-right: 10px;
    }

#Anounce {
    margin-bottom: 5px;
    background: none repeat scroll 0 0 #fff;
}

.spro_con, .plconlist li, #putpl {
    width: 100%;
    margin: auto;
    color: #5A5A5A;
}

.spro_con {
    font-size: 14px;
    line-height: 16px;
}

    .spro_con h1 {
        display: block;
        line-height: 24px;
        padding-left: 0;
        font-size: 14px;
        color: #222;
    }

.spro_con_01 {
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    border-bottom: none;
}

    .spro_con_01 h1 {
        display: block;
        line-height: 24px;
        padding-left: 0;
        font-size: 14px;
        color: #222;
    }

.spro_ct {
    height: 55px;
    line-height: 55px;
    border-bottom: #DBDBDB 1px solid;
    border-top: #DBDBDB 1px solid;
    text-align: center;
}

    .spro_ct li {
        float: left;
        width: 49%;
        overflow: hidden;
    }

.spro_ct_Only_OneLine {
    border-top: #DBDBDB 1px solid;
    text-align: center;
}

.spro_ct li:hover {
    cursor: pointer;
}

.spro_ct li.hover {
    color: #FE5200;
}

.spro_ci, .spro_c2 {
    padding-left: 20px;
    padding-right: 20px;
    background: none repeat scroll 0 0 #fff;
}

    .spro_ci .gry {
        width: 45%;
    }

    .spro_ci .iprice {
        color: #E4272D;
        font-size: 14px;
    }

    .spro_ci .iprice_BaoYou {
        color: #E4272D;
        font-size: 14px;
    }

    .spro_ci .zan {
        float: right;
        width: 28%;
        color: #9B9B9B;
        font-size: 14px;
    }

    .spro_ci .ys_zan {
        float: left;
        display: block;
        width: 1px;
        height: 28px;
        background: url(images/zuan1.png) no-repeat 0 0;
    }

    .spro_ci .ys_zan123 {
        float: left;
        display: block;
        width: 50px;
        height: 28px;
        background: url(images/zuan1.png) no-repeat 0 0;
        padding-left: 16px;
    }

    .spro_ci .zan img {
        margin-top: 1px;
        margin-bottom: 1px;
    }

.spro_con .spro_c2 {
    line-height: 26px;
    font-size: 14px;
}

    .spro_con .spro_c2 .SayOKOmage {
        background: url(images/iconSayOk.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 24px;
        display: block;
        padding-left: 24px;
    }

    .spro_con .spro_c2 .SayOKOmageHitCount {
        line-height: 26px;
        font-size: 14px;
    }

    .spro_con .spro_c2 .buyInfo_Left input {
        background: none repeat scroll 0 0 #FFF;
        border: 1px solid #CCC;
        color: #666;
        display: inline;
        float: left;
        font-size: 14px;
        height: 26px;
        ime-mode: disabled;
        line-height: 26px;
        margin: 0;
        outline: 0 none;
        padding: 0;
        text-align: center;
        width: 48px;
    }

.buyInfo_WeBuy_Quan {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dbdbdb;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.spro_contxt {
    background: none repeat scroll 0 0 #fff;
    width: 98%;
    margin: 0 auto;
}

.buyInfo_Left {
    width: 72%;
    float: left;
    color: black;
}

    .buyInfo_Left a {
        color: black;
    }

.buyInfo_Right {
    float: right;
    text-align: left;
    width: 28%;
}

    .buyInfo_Right img {
        max-height: 80px;
        max-width: 80px;
        border-radius: 2px;
        float: left;
        text-align: left;
        width: 30%;
        margin-right: 10px;
    }

    .buyInfo_Right .nickname {
        font-size: 14px;
        line-height: 18px;
    }

.CanWriteMarker img {
    max-height: 40px;
    max-width: 40px;
    position: relative;
    top: 12px;
}

.spro_btn {
    height: 55px;
    line-height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
}

.spro_mybtn {
    float: left;
    margin-left: 6%;
    width: 41%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #DBDBDB;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

#buybtn {
    border: 1px solid #c0c0c0;
}

#cartbtn {
    border: 1px solid #c0c0c0;
}

.divc1_ShortInfo {
    padding: 20px;
    word-break: break-all;
}

.divc1 {
    padding-bottom: 20px;
    padding-top: 20px;
    word-break: break-all;
    word-wrap: break-word;
}

    .divc1 img {
        width: 100%;
    }

#divc2 {
    font-size: 14px;
}

.plconlist li {
    line-height: 25px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #696969;
}

    .plconlist li .pluser {
        display: block;
        height: 30px;
        line-height: 30px;
        padding-left: 20px;
    }

    .plconlist li p {
        padding-left: 40px;
    }

#putpl {
    margin-top: 10px;
    padding-top: 10px;
}

    #putpl span {
        float: left;
        padding-left: 20px;
    }

.pltext {
    float: left;
    padding-left: 3%;
    width: 100%;
    border: none;
    line-height: 35px;
    height: 100px;
}

.putplbtn {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #DBDBDB;
    text-align: center;
}

.spro_grenbtn {
    background: #82C45F;
    width: 60%;
    height: 40px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #dbdbdb;
    line-height: 40px;
    margin-left: 6%;
    width: 60%;
    border-radius: 5px;
    margin: 0 auto;
    -webkit-appearance: none;
}

.lrbtn_Good_Height {
    background: #DEE8CF;
    padding-top: 20px;
    margin-top: 10px;
    text-align: center;
}

    .lrbtn_Good_Height td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .lrbtn_Good_Height .p5 {
        width: 5%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .lrbtn_Good_Height .p35 {
        width: 35%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .lrbtn_Good_Height .p15 {
        width: 15%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.lrbtn {
    background: #DEE8CF;
    height: 60px;
    padding-top: 20px;
    margin-top: 10px;
}

    .lrbtn span {
        display: block;
        width: 120px;
        height: 44px;
        text-align: center;
        line-height: 44px;
        background: url(images/lrbtn.png) no-repeat;
    }

    .lrbtn div {
        width: 260px;
        margin: auto;
    }

    .lrbtn a {
        color: #fff;
    }

    .lrbtn .lrbtn_l {
        float: left;
        padding-left: 5px;
    }

    .lrbtn .lrbtn_r {
        float: right;
        padding-right: 5px;
        background-position: -125px 0;
    }

.janyicon {
    border: 1px solid #DBDBDB;
    background: #fff;
    width: 90%;
    padding: 2%;
    margin: 10px auto 0;
}

.janyitext {
    background: #E8F0DB;
    width: 92%;
    padding: 3%;
}

#name_jianyi {
    height: 300px;
    width: 99%;
    background: none;
    border: none;
}

.janyicon span {
    display: block;
    font-size: 14px;
    line-height: 45px;
}

.tj1 {
    width: 94%;
    margin: auto;
    padding-top: 10px;
}

.tj1_btn {
    border: none;
    background: #FE5200;
    border: 1px solid #DBDBDB;
    width: 100%;
    height: 60px;
    font-size: 14px;
    color: #fff;
}

.lastPage_u-arrow2 {
    animation-name: myfirst;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 9951;
    height: 30px;
}

    .lastPage_u-arrow2 .orange {
        background: -moz-linear-gradient(center top,#faa51a,#f47a20) repeat scroll 0 0 rgba(0,0,0,0);
        background: -webkit-linear-gradient(bottom,#faa51a 0,#f47a20 100%) repeat scroll 0 0 rgba(0,0,0,0);
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#faa51a),color-stop(1,#f47a20)) repeat scroll 0 0 rgba(0,0,0,0);
        border: 1px solid #da7c0c;
        color: #fef4e9;
    }

    .lastPage_u-arrow2 .button {
        border-radius: .5em;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        cursor: pointer;
        display: inline-block;
        font: 14px/100% Arial,Helvetica,sans-serif;
        margin: 0 2px;
        outline: medium none;
        padding: .5em .5em .55em;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0,0,0,0.3);
        vertical-align: baseline;
    }
